[2018-01-03 15:34] nkreeger commented on #504
You might need to run the following:
$ cd demos/
$ yarn install
$ cd ../
$ ./scripts/watch-demo demos/game_of_life

I just ran a clean build and everything was fine on my machine.

[2018-01-03 15:36] QuantumInformation commented on #504
I done npm install

Kind regards

Nikos
quantumjs.com

On 3 January 2018 at 15:34, Nick Kreeger <notifications@github.com> wrote:

[2018-01-03 15:50] dsmilkov commented on #504
Closing this issue. Feel free to reopen if other issues come out.

Regarding demos: There is a [working PR](https://github.com/pair-code/deeplearnjs/pull/505) that fixes all demos. There were small backwards incompatible changes in the library in order to align its API with TensorFlow (e.g. can't add/subtract/multiply/divide ndarrays of different dtypes, must cast)

[2018-01-03 15:50] #504 closed

[2018-01-03 16:48] lunzhang commented on #503
I'm currently on version '0.3.16'

[2018-01-03 16:52] dfoody commented on #438
@erikwilson @mikkokam - FYI, I've added better support for node+deeplearn.js to a fork of headless-gl:
https://github.com/PAIR-code/deeplearnjs/issues/49#issuecomment-354893620

[2018-01-03 17:07] lunzhang commented on #503
I found out that the problem was because my typescript version was outdated.

[2018-01-03 19:05] michael-terry opened #506 "Request for greater_equal"
Akin to TF's greater_equal(): https://www.tensorflow.org/api_docs/python/tf/greater_equal

Other comparison operators may be useful: https://www.tensorflow.org/api_guides/python/control_flow_ops#Comparison_Operators

[2018-01-03 21:43] kozko2001 opened #507 "Unpooling2D operation"
I was thinking of making a version of the [Universal Style Transfer via Feature Transforms](https://arxiv.org/pdf/1705.08086.pdf) for deeplearningjs. And seems that is feasible (I have to test yet if possible to load all 130M of VGG19).

For implementing the autoencoder I don't see any operation on the documentation for doing unpooling. I have miss something? or is just that it has to be implement

[2018-01-03 21:48] erikwilson commented on #49
Thanks for working on this @dfoody ! I am having some problems building deeplearn-gl on OSX, it seems to require cairo which I can brew install but the next step errors on gclient, gn, and ninja commands, which are a bit more difficult to find & install.

[2018-01-03 21:53] ofrobots opened #508 "Consider putting NDArrayMath into standalone module?"
Have we considered extracting the math functionality from this module and putting it in a standalone module by itself. Math functionality seems independently useful.

[2018-01-03 22:16] dfoody commented on #49
@erikwilson looks like I have a bit of a packaging problem.
I'll get it fixed, but until then try the following:

`npm install deeplearn-gl --force` (or just clone the repository https://github.com/dfoody/headless-gl) then go into the directory (`node_modules/deeplearn-gl`) and run `npm install` from there. This will download all the tools needed (gclient, etc.) to build it.

Let me know if you ha

[2018-01-04 00:50] dsmilkov commented on #508
Hi, to better understand, can you share your use case? `NDArrayMath` doesn't make sense  without `NDArray`s. Did you mean `NDArrayMath` independent of the graph/gradient/backpropagation code?

[2018-01-04 01:06] ofrobots commented on #508
Right, sorry. Yeah, I think we have a really good implementation of a accelerated math library here. I think it can be useful independently of the remainder of the ML code.

[2018-01-04 03:43] nsthorat commented on #239
Interesting, not sure how much that will help here though (GPU / CPU transfer overhead is non-negligible, and WASM doesn't take advantage of SIMD yet).

[2018-01-04 03:43] nsthorat commented on #239
In general, people are trending towards these type of mobile convolutional kernels. You just need to tweak the hyperparameters. Soon, architecture search will save us :)

[2018-01-04 03:46] nsthorat commented on #49
Wow, this is wonderful work! If you go post it on the TensorFlow github issue (the second most commented on issue) I'm sure people would love your work:

https://github.com/tensorflow/tensorflow/issues/37

I look forward to playing around with this! Have you had a chance to see whether performance is the same as on the web? I assume it's comparable, but just curious.

[2018-01-04 03:58] nsthorat commented on #490
That seems reasonable to me, have you had a look at how big that file will be for a typical session? JSON is a horrible serialization format for weights, but unfortunately if we want to just download the weights as a float32 byte stream we'll need 2 files (weights, and manifest).

[2018-01-04 04:06] nsthorat commented on #496
@dsmilkov does this possibly have to do with the thing you were seeing on Video elements?

[2018-01-04 11:48] ManrajGrover commented on #506
@dsmilkov I can take this one up.

[2018-01-04 15:37] dfoody commented on #49
@nsthorat thanks - I posted there as well.
In terms of performance I tested a matmul of two 6000x6000 matrices (see code below)
On chrome it averaged around 12.5s. In node.js it averaged about 14.5s.

On the  node side, I suspect the performance difference may be the time to read the data from the pixel buffer (I map the buffer and the memcpy into the node typed array - there might be a way to dir

[2018-01-04 16:01] dsmilkov commented on #503
Dependencies have changed. Try removing node_modules:
 - cd to the base of the repo.
 - `rm -r /node_modules`
 - `rm -r /demos/node_modules`
 - `yarn prep`

This will reinstall all dependencies and update the typings

[2018-01-04 17:10] dsmilkov commented on #496
Unclear. @MariasStory did you use the webcam, or one of the predefined images on the demo?

[2018-01-04 17:21] #484 closed

[2018-01-04 22:02] dsmilkov commented on #506
Awesome! Looking forward

[2018-01-04 23:47] christopherhesse commented on #239
Whoops I thought it at least it supported SIMD, I guess it's only 2018.

[2018-01-05 09:24] MariasStory commented on #496
Hi @dsmilkov, I did use webcam. So far, I have tried Chrome 64 and 65, also Firefox 57.

[2018-01-05 14:49] caisq opened #512 "Feature Request: NDArrayMath.reverse"
The ability to reverse an array along a given axis would be useful (e.g., for certain reversed RNNs)

The signature of the function can follow tensorflow's tf.reverse:
https://www.tensorflow.org/api_docs/python/tf/reverse

[2018-01-05 22:52] erikwilson commented on #49
Thanks! It seems to mostly work but I am getting some weird results with mocha tests. It would be nice if we could create a math object directly from the result of gl/headless-gl/deeplearn-gl, something like:

[code]

^ That doesn't seem to work though, not sure if it should or what I am doing wrong.

I'm also curious if it might be helpful to remove the dependency of document and canvas out of we

[2018-01-05 22:56] nsthorat commented on #49
Try making a new math like this (and using ENV.setMath)

https://github.com/PAIR-code/deeplearnjs/blob/master/demos/nn-art/cppn.ts#L79

[2018-01-05 23:56] erikwilson commented on #49
Perfect, thank you @nsthorat !

The error gave a clue with `Use dl.ENV.math instead of constructing your own NDArrayMath.`

The following works perfectly:
[code]

I can also use `const gl = require('gl')` but also get the following warning with initially correct results:
[code]

[2018-01-06 00:17] erikwilson commented on #49
Actually using the ``require('gl')`` only worked because my tests had a previous ``require('deeplearn-gl')`` which stubs out document and canvas.

[2018-01-06 01:27] erikwilson commented on #49
@nsthorat full stack trace of when I try to just use ``const gl = require('gl')`` in the above example:

[code]

on deeplearn v0.4.0

Do we actually need to create a new gl context and if so would it be better to pass a function into a new GPGPUContext?

[2018-01-06 07:56] chaosmail opened #515 "Using VSCode, clang-format and formatOnSave the editor modifies a lot of untouched code"
Hi guys,

I have VScode `v1.19.1`, Clang-Format Extension `v1.6.1`, TSLint Extension `v1.0.24` and Clang-Format `NPM version 1.0.41-b` installed (as stated in the Readme). When I open open the project in vscode (I use the untouched `.vscode/settings.json`), navigate to `src/math/math.ts` and hit save it automatically formats a lot of code. Here is on example:

before (Line 342):
[code]

after (Lin

[2018-01-06 14:47] dsmilkov commented on #515
You are right. The NPM version seems to be causing problems. I just reproduced the problem.

For now, until we figure out better solution, uninstall the npm clang-format and install the regular clang-format (version 6.0). If on Mac, and using homebrew, you can do `brew install clang-format`

Let me know if this helps.

[2018-01-06 16:27] chaosmail commented on #267
#514 #517

[2018-01-06 16:27] #267 closed

[2018-01-06 19:25] nsthorat commented on #239
I hope it happens. When it does, we're going to introduce a WebAssembly backend.

[2018-01-06 19:31] nsthorat commented on #49
Hmm.. That method shouldn't be called because you are passing a gl() directly.

That bypasses this, which is where document.createElement is transitively called.
https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/backends/webgl/gpgpu_context.ts#L43

Can you make sure the output of gl() is not null?

[2018-01-06 21:15] erikwilson commented on #49
@nsthorat sorry you are right gl() without params returns null but event with a proper gl context I still get the following:

[code]

[2018-01-06 21:23] nsthorat commented on #49
Ahh, crap. For now, do the following before you do anything else. Once we make this more official we can add a fix to the core library.

[code]

[2018-01-06 21:25] nsthorat commented on #49
Basically those flags will get evaluated by the library, and thus call the underlying `document.createElement` call which you need to avoid. This will set them explicitly and will avoid having to call `document.createElement`.

Eventually, we can test whether we're in a node.js context with deeplearn-gl here: https://github.com/PAIR-code/deeplearnjs/blob/master/src/environment.ts#L63

[2018-01-06 22:10] dfoody commented on #49
deeplearn-gl creates a global document object (with createElement on it that supports a regular canvas object and gl) so deeplearn works directly with it with no special changes or code - you just need to require deeplearn-gl first.
But, obviously, putting objects in the global context isn't a great long term solution. Would be better to have a central hook that could be used to pass in the contex

[2018-01-06 22:10] erikwilson commented on #49
That worked, thanks @nsthorat !

It looks like a significant amount of work went into enabling those three extensions @dfoody , are you planning to PR stackgl/headless-gl so they end up in the main branch?

[2018-01-07 08:01] #515 closed

[2018-01-07 10:12] chaosmail opened #520 "Yarn error on CI build and locally for package pinkie-2.0.5"
There is a problem running `yarn install`, saying the package pinkie-2.0.5 is not available. Happens both locally and on Travis.

[code]

`npm install` works fine.

[2018-01-07 10:13] chaosmail commented on #520
[code]

[2018-01-07 16:24] #520 closed

[2018-01-07 17:27] dsmilkov commented on #496
Hi @MariasStory, we had a guess of what might be wrong and we updated https://deeplearnjs.org/demos/imagenet/.

Curious if you still see the issue? (Make sure you hard refresh/clean browser cache to get the new js code)

Thanks

[2018-01-07 20:05] dsmilkov commented on #507
I might be wrong, but seems to me that unpooling is basically the backprop of pooling, and we already expose that. See [`math.maxPoolBackprop`](http://deeplearnjs.org/docs/api/classes/ndarraymath.html#maxpoolbackprop). Hope this helps!

[2018-01-07 20:08] dsmilkov commented on #495
Hi, we regenerated our website and our tutorials/demos to use `dl.ENV.math`. This is temporary and serves as migration path to the new simpler api that's coming.

[2018-01-07 20:08] #495 closed

[2018-01-07 20:18] dsmilkov commented on #493
Not at this moment, but that would be an amazing contribution and we are happy to provide guidance and reviews!

[2018-01-07 20:21] dsmilkov commented on #491
This is the TypeScript compiler being careful and wanting only an array of length 2.

To make the compiler happy change your line 5 from
`const matrixShape = [2, 3]`
to
`const matrixShape: [number, number] = [2, 3]`

This will tell the compiler that matrixShape is exactly of length 2, so you won't be allowed to assign more values to it, (e.g. `matrixShape[2] = ...` will result in compiler error)

[2018-01-07 20:21] #491 closed

[2018-01-07 21:43] michaelvogt commented on #112
Just to share my experience on windows 10:
"./scripts/watch-demo ./demos/adder/adder.ts" opens the file watch-demo
"node ./scripts/watch-demo ./demos/adder/adder.ts" leads to an error that the file ~/demos/adder/adder.ts/adder.ts.ts could not be found.

"node ./scripts/watch-demo ./demos/adder/" works for me

[2018-01-08 00:45] kristian-io opened #524 "NDArray.make creates array but then dataSync() returns null"
I am trying simply to create a new NDArray directly using NDArray.make or  new NDArray() and then retrieve the values using dataSync() but I am getting null ( before version 0.4.1 I was getting undefined)

Float32Array [ 1, 2, 3 ]       // works as expected

null

null

I expect this to be some sort of banality from my side but from the documentation, I dont see what I am doing wrong.

NDArray.mak

[2018-01-08 02:30] kristian-io commented on #524
If I do this:

I am getting:

TypeError: another.**dataSync** is not a function
    at Function.NDArray.like (C:\...\deeplearn\dist\math\ndarray.js:102:48)
    at repl:1:20
    at sigintHandlersWrap (vm.js:22:35)
    at sigintHandlersWrap (vm.js:96:12)
    at ContextifyScript.Script.runInThisContext (vm.js:21:12)
    at REPLServer.defaultEval (repl.js:313:29)
    at bound (domain.js:280:14)
    at

[2018-01-08 02:34] kristian-io commented on #524
Ok, I have found the way how to construct NDArray in a way that dataSync works (sorry for dumping here the whole thought process :) )

[ 3, 4, 5 ]

[2018-01-08 07:38] hpssjellis commented on #495
Thanks @dsmilkov

[2018-01-08 12:35] QuantumInformation commented on #481
Here is an IDE independent way to build deeplearn projects:

https://github.com/QuantumInformation/deeplearnjs-playground

[2018-01-08 16:32] lunzhang commented on #503
Hi, I tried reinstalling the dependencies, still getting ts error.

[2018-01-09 04:09] nikcheerla commented on #19
What exactly does it mean that "while the library supports most devices, our demos don't currently work on iOS Mobile or Desktop Safari". If we write and develop code "normally" for the browser should it automatically work on iOS mobile, or are there any tweaks we have to make manually?

[2018-01-09 05:05] ToonTalk opened #527 "demos/imagenet errors from beerbottle and saxaphone"
These two images are not 227x227 like the others.

Console says

Error: The output # of rows (44.5) must be an integer. Change the stride and/or zero pad parameters

[2018-01-09 06:56] haasdo95 commented on #512
Any ideas on how to implement gradient for reverse...?

[2018-01-09 12:48] Yagun opened #528 "Deploying fast-style-transfer-deeplearnjs"
Hi,

I tried to build "Fast Style Transfer Deeplearnjs" sample to deploy and run it on my local node.js server. After executing the deploy-demo script I got a single HTML file (730 kB) in a new folder (I called it "distr"). I tried to run it, but it does not work properly. It shows the controls, but does not show the pictures (source and style) and the button does nothing.

Please explain how to b

[2018-01-09 12:49] dexter1608 commented on #20
hi how to create dataset as same format as mscoco?

[2018-01-09 13:19] Yagun opened #529 "Squeezenet sample data"
I looked at the Squeezenet sample and found that it loads a model from https://storage.googleapis.com/learnjs-data/checkpoint_zoo/squeezenet1_1

As I understand, the network config is in a manifest.json file on that website. Right?

What file(s) contain the weights of the pre-trained Zoo network?

Is there a list of all the pre-trained networks? https://storage.googleapis.com/learnjs-data/ shows "

[2018-01-09 15:17] dsmilkov commented on #512
Yup, simply calling reverse on `dy` should work. In the simplest case with an array with 2 elements `reverse([x1, x2], axis=0)`, you'll have:
`y1 = x2, y2 = x1`
`dx1 = dy2, dx2 = dy1`
which means `dx = reverse(dy, axis=0)`

[2018-01-10 01:22] pyu10055 opened #533 "create cpu local NDArray"
tensorflow stores parameter as tensor in their model file, naturally we will convert
that tensor into an NDArray, but that particular tensor is not used as input in Ops,
it is just a param (for example axis for concat).
The issue is now the NDArray is stored in GPU has to be downloaded the cpu in
order to retrieve the data, is it possible to specifically create an cpu local NDArray
to avoid the ab

[2018-01-10 10:20] Yagun opened #534 "Build DeepLearnJS on Windows"
Build script
./scripts/build-standalone.sh
does not work on Windows. The following string throws an error:
yarn make-version && \

Console log:

yarn install v1.3.2
[1/4] Resolving packages...
success Already up-to-date.
Done in 3.09s.
yarn run v1.3.2
$ ./scripts/make-version
'.\scripts\make-version' is not recognized as an internal or external command,
operable program or batch file.
error Comman

[2018-01-10 20:03] #445 closed

[2018-01-10 20:51] caisq opened #537 "Math.variableGradients should skip non-trainable variables"
Currently (deeplearn 0.4.1), the Math.variableGradients method returns gradient values against all variables involved in the loss function, regardless of whether they are trainable or not.
It should skip untrainable variables.

[2018-01-11 05:55] nkreeger opened #538 "Implement test coverage for math.equal* methods."
While implementing logical_or() - I noticed that the equal methods could use unit tests. Should be straight forward once I introduce a `logical_ops_test.ts` file soon.

[2018-01-12 04:46] dsmilkov commented on #533
I might be misunderstanding, so correct me if I'm not answering your question :)

In dljs, the params to our ops are often not `NDArray`s, but number|number[]|string. E.g. the signature of math.sum is:
`sum<...>(x: NDArray<D>, axis: number|number[] = null, keepDims = false): T`

which means when you parse TF params from the TF graph, you don't have to construct an `NDArray` to hold axis or keepDim

[2018-01-12 05:01] pyu10055 commented on #533
You are right when the deeplearn.js params is also a param in the TF api, it will be store as part of the attr field in the Node. But there are cases when a deeplearn.js param is an input of the TF api.
The input will be translated to a node in the TF graph (most likely a constant node).

On second thought, it is hard to differentiate the weight type of constant node from the param type of constan

[2018-01-12 16:15] dsmilkov commented on #533
In a sense, we do have cpu-only `NDArray`s, but it's not by design that comes from the top, it's an implementation detail of our `WebGLBackend`, which decides to do lazy uploads, because uploads are expensive in that they could stall the gpu. In detail:

User-created `NDArray`s, e.g. `Scalar.new(6)` (not arrays that are result of math ops) are actually lazily uploaded to the GPU. E.g.
[code]

So y

[2018-01-12 18:18] pyu10055 commented on #533
cool, in that case, my issues can be closed. thank for the explanation.

[2018-01-12 18:18] #533 closed

[2018-01-12 19:54] arvind commented on #537
Similarly, as `Math.variableGradients` uses `this. registeredVariables`, it also attempts to calculate the gradient against variables that were registered but are not part of the model or loss functions (regardless of what their `trainable` property has been set to).

For example:
[code]

[2018-01-12 20:34] arvind opened #540 "Expose API to dispose variables"
In eager mode, a `dl.ENV.math.disposeVariables` function would be useful to allow us to recreate models with the same-named variables without incurring a memory leak. For now, I'm using the following:

[code]

[2018-01-13 10:10] ManrajGrover commented on #538
@nkreeger We should also add tests for `math.notEqual*` methods. Should I create a separate issue for this?

Also, taking this one up.

[2018-01-13 13:30] ManrajGrover commented on #528
@Yagun If you wish to view the demo, you should use `watch-demo` script. It will start its own nodejs server and you will be able to view the demo on `http://127.0.0.1:8080/demos/fast-style-transfer/`. The shell command would be `./scripts/watch-demo demos/fast-style-transfer`.

[2018-01-13 14:52] Yagun commented on #528
@ManrajGrover  thank you for your answer, but it is not what I need. The "watch-demo" script runs the demo with "watchify" showing additional console window and watching for script changes, so you can change the scripts and see what happens. It is a debug mode. And it is not what I want. There are "deploy-demo" and "build-standalone" scripts, but no explanation how to get a standalone **working**

[2018-01-13 14:55] Yagun opened #543 "Error in net.ts"
When building fast-style-transfer-deeplearnjs (with ./scripts/deploy-demo ... ), error text  :

TypeScript error: src/net.ts(7,14): Error TS2420: Class 'TransformNet' incorrectly implements interface 'Model'.
Types of property 'predict' are incompatible.
Type '(preprocessedInput: Array3D<"float32" | "int32" | "bool">) => Promise<Array3D<"float32" | "int32"...' is not assignable to type '(input: ND

[2018-01-13 14:55] Yagun commented on #528
Related issue:
https://github.com/PAIR-code/deeplearnjs/issues/543

[2018-01-13 15:52] bvahdat opened #545 "Looking for the graph.transpose API"
Given a vectorised implementation of the cost function for a linear hypothesis:
![screen shot 2018-01-13 at 16 32 33](https://user-images.githubusercontent.com/3122177/34907509-e72924f0-f87f-11e7-93c4-54fceea8c742.png)

I realised that `graph.transpose` API is missing for this purpose. Right now I've got it so far which is of course not correct yet:

[code]
Two pieces are still missing here:
- tra

[2018-01-13 16:30] chaosmail commented on #488
@dsmilkov do you have any idea how to implement this elegantly on WebGL without reading and sorting the entire texture in a single fragment shader? Would be nice if one could use the depth buffer to automatically sort the values, but I am not sure if this could work also for k > 1.

[2018-01-13 17:03] ManrajGrover commented on #528
@Yagun `build-standalone` script is for building the library and it's minified version. `deploy` script is used by `make-website` script for building the demo for the website. I don't think we have a script that brings everything together for a particular demo for standalone usage. We welcome PRs for the same.

[2018-01-13 21:08] bvahdat commented on #545
I came up with the following which I'm not sure if it's correct (m is the size of the training set)

[code]

[2018-01-14 00:58] dsmilkov commented on #538
Closing this since tests for `equal/notEqual` already exist in `elementwise_arithmetic_test.ts`. See #542 regarding relocating these tests to avoid future confusion.

[2018-01-14 00:58] #538 closed

[2018-01-14 17:15] dsmilkov commented on #506
Fixed in #541  Thank you @ManrajGrover !

[2018-01-14 17:15] #506 closed

[2018-01-14 17:53] ManrajGrover commented on #512
This can now be closed with #535 being merged.

[2018-01-14 17:55] #512 closed

[2018-01-15 01:37] dsmilkov commented on #488
To be honest, I have no idea how this is done on the GPU. I can chat with a GPU expert at work next week. In the meantime, I'd suggest the standard Google/Stack Overflow search :)

[2018-01-15 02:20] dsmilkov commented on #543
`deploy-demo` is meant to be called by `make-website`, which we only call when we are regenerating our website.

Can you share with us your use case?

If you are developing the model use
[code]
as described in our [Development section](https://github.com/PAIR-code/deeplearnjs#development).

If you are trying to build a production version instead, run
[code]
This will generate and store the bundle

[2018-01-15 02:28] dsmilkov commented on #543
Also make sure you are synched with master and re-run `yarn prep` so that your `node_modules` are up to date

[2018-01-15 04:01] charlesnicholson commented on #488
I'm not aware of any methods that can exploit z-buffering, but that would be nice.

A single fragment shader will work, but can't exploit any GPU parallelism.

The standard approach to max ("topk, k=1") in pre-shared-memory GPU environments is to do a downsampling ping-pong. For a square texture of width and length 2^N, render N passes, giving O(log N) draw calls with respect to texture size. The

[2018-01-15 04:27] charlesnicholson commented on #488
Top-k indices would be tougher with a top-4 approach. Because you only have 4 channels (tops) in your output texture, you don't have anywhere to put the st texel coordinates that represent the index. You could just do max ("top-1") each time, and use R for max, G for s-coord, and B for t-coord, maybe. That forces you to do k reductions for top-k.

I guess once you've found the k-values for any res

[2018-01-15 08:41] silky commented on #409
agreed

[2018-01-15 14:15] dsmilkov commented on #488
Thanks Charles!

For top-1 (`math.max/min()`), we actually did it with logN passes, (see [recursive reduce call](https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/backends/backend_webgl.ts#L454)). The only difference is that we did it in the logical space, on a logically flatten array and left the shader sampler figure out the 2D sampling.

For v0, I like your suggestion of running thi

[2018-01-15 14:22] charlesnicholson commented on #488
Let's grab a whiteboard tomorrow and figure it out :)

[2018-01-15 15:50] dsmilkov commented on #409
Pad for 1D and 2D added in #531 thanks to @nkreeger !

[2018-01-15 15:51] dsmilkov commented on #534
@nkreeger Any ideas since you have a windows machine? Thanks!

[2018-01-15 17:55] chaosmail commented on #488
thanks for the detailed insights, seems there is no 'easy' way to do distributed global sorting :)

just throwing another thought in here, concerning `k=1` and Depth Buffer:
* if we could transform all values of the NDArray to a range of [0, 1]
  (luckily softmax returns exactly this range)
* and for each vertex write to position 0,0 in a 1x1 texture
* and use color channels for value and array in

[2018-01-15 19:34] charlesnicholson commented on #488
I think I see what you're getting at, but I'm not sure I understand it fully yet.

If I understand you correctly, you're proposing binding 1x1 color + depth targets to the framebuffer? If that's the case, then you only get one pixel to shade, right?

When you say "for each vertex write to position 0,0 in a 1x1 texture", I'm unsure what you mean.

There are only 6 verts total, no matter how big the

[2018-01-15 20:13] #480 closed

[2018-01-15 21:04] silky commented on #409
i'm keen on 4d, so can we re-open? :)

[2018-01-15 21:27] chaosmail commented on #488
Thanks for clarifying the vertex setup!

Yeah, I was thinking of using m x n vertices (points) as input for an m x n NDArray (this might be a bad idea though). I sketched the approach that I had in mind (on the right) vs 1 pass with the unit square (on the left).

![max_via_depth](https://user-images.githubusercontent.com/2969388/34961903-9ca254ce-fa41-11e7-8675-63cf8d0cf2c2.jpeg)

The idea is bas

[2018-01-15 22:03] charlesnicholson commented on #488
Oh, interesting, and clever :) Now I see what you're getting at, thanks for taking the time to sketch it out.

Let me rephrase it so you can tell if I understand correctly:

"If you could project every single normalized array value onto a beam defined by the orthographic camera location and the middle of the framebuffer's only output pixel, the z-buffer hardware would only accept values closer to

[2018-01-15 22:40] JadenTravnik opened #550 "Problem Porting DQN: Performing one_hot on a tensor"
I would like to be able to port DQN but am running into an issue where I need to perform a one_hot operation on a tensor.
In tensorflow, I would need to do something like this (python):

     self.targets = tf.placeholder('float32', [None], name='target_q_t')
     self.actions = tf.placeholder('int64', [None], name='action')

     # Gets one_hot of a placeholder
     actions_one_hot = tf.one_hot(s

[2018-01-16 03:12] hbhng opened #551 "How to use math.floor in graph"

[2018-01-16 10:44] Yagun opened #552 "MobileNet version"
There are different Mobile Nets in that Google science paper. For example:
0.75 MobileNet-224
1.0 MobileNet-192
MobileNet-160

Also there are 1.0 and 1.1 versions of the nets.

Which of them corresponds to your sample MobileNet?

Thanks.

[2018-01-16 15:09] dsmilkov commented on #552
cc @experiencor since we contributed mobilenet. Would be great to update the mobilenet/README.md with this info.

[2018-01-16 16:05] Utopiah opened #553 "MobileNet/YOLO MobileNet not available on npm/unpkg"
Both https://github.com/PAIR-code/deeplearnjs/tree/master/models/yolo_mobilenet and https://github.com/PAIR-code/deeplearnjs/tree/master/models/mobilenet point to unpkg link but neither are available via npm.

[2018-01-16 17:18] dsmilkov commented on #553
We postponed publishing since we wanted to figure out the scoped npm package solution and unit tests before publishing. We expect to get this done within 2-3 weeks. Thanks for filling this to keep track.

In the meantime, feel free to copy the code in those folder to use it in your project.

[2018-01-16 17:19] dsmilkov commented on #553
I'll update the README to clarify that they are not published yet

[2018-01-17 12:41] nadendlaprasad opened #556 "[Violation] 'requestAnimationFrame' handler took 218ms"
When i'm running the model, program is throwing these warning **[Violation] 'requestAnimationFrame' handler took 218ms** messages. This is happening even when i run the model on GPU  machine. Any idea how to improve the performance or what's causing the model to run slowly ? I can observe too much delay sometimes. I am thinking this warning message may be causing the model to run slowly. am i righ

[2018-01-17 14:44] nkreeger commented on #556
Generally, `requestAnimationFrame` is an API that exists for performing animations in a browser. It is designed for the method to run as quickly as possible (https://developer.mozilla.org/en-US/docs/Web/API/window/requestAnimationFrame).

Do you have a link to some code? That might help for tips. Generally, it's best to avoid blocking calls (i.e. NDArray.dataSync()) through this method as much as

[2018-01-17 19:14] dsmilkov commented on #500
This got fixed in #511

[2018-01-17 19:14] #500 closed

[2018-01-17 19:58] nsthorat commented on #310
NASNet still hasn't been implemented, let's reopen.

[2018-01-17 20:07] nsthorat opened #559 "Make the homepage CPPN demo work on iOS / Safari."
Right now the CPPN doesn't work on Safari / iOS because of the way we render to the output canvas (with a custom shader). We should be able to use math ops entirely.

Let's get it working and enable it on the homepage so it doesn't look like we don't support iOS / Safari.

[2018-01-17 20:07] nsthorat commented on #19
The demos have some issues with Polymer and sometimes the way we render to canvas on iOS Mobile / Desktop Safari. There's actually not much more work needed to get the demos working everywhere, we just haven't done it yet.

[2018-01-18 03:41] dsmilkov commented on #467
This got fixed, right? Should we close the issue?

[2018-01-18 03:48] #467 closed

[2018-01-18 05:35] nadendlaprasad commented on #556
This is happening when i am running teachable machine demo

[2018-01-18 15:56] nsthorat opened #561 "Add eager mode gradients for ops."
The infrastructure for eager mode is now ready for gradient methods to be filled in!

Eager mode provides a new set of methods on `NDArrayMath` which allows the user to eagerly compute gradients. Most users will use an optimizer like this:
[code]

You'll notice that there is no use of the Graph, we simply use ops on `NDArrayMath` directly inside of an `optimizer.minimize()` method.

You can find a

[2018-01-18 16:15] dsmilkov commented on #561
For those that are interested:
- leave a comment here to claim one or several ops
- make a PR that adds gradients for those ops
- After we merge your PR, we'll check the checkbox

I'd suggest to start with the [unary ops](https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/backends/webgl/unaryop_gpu.ts#L46).

[2018-01-18 18:17] HalfdanJ opened #562 "Allow multiple instances of deeplearnjs"
If there are two instances of deeplearnjs present (eg. in two different modules node_modules) they can easily both be loaded, and they both try to register backend. Currently that fails with `Uncaught Error: cpu backend was already registered`, could it instead just re-use the already registered backend?

[2018-01-19 17:20] israelvicars commented on #561
I'll start `abs`. Thanks for tweeting the invitation to contribute.

[2018-01-19 22:40] hpssjellis opened #568 "Congratulations MNIST Eager is working! Trying to show it using pure Javascript"
Mnist_eager Demo, my Demo, link to deeplearnjs mnist_eager  and my github site in the link below

https://hpssjellis.github.io/deeplearnjs-javascript-examples/Unordered-javascript-examples/deeplearnjs-examples/mnist-eager/

Eager is working and looks fantastic. I am trying to show it working in pure Javascript and having a bit of trouble converting the bundle.js file.   Normally it is fairly easy

[2018-01-20 01:39] jaassoon opened #569 "invalid link: /deeplearnjs/blob/master/yolo_mobilenet/demo.html"
in deeplearnjs/master/models/yolo_mobilenet/README.md
`Check out [demo.html](https://github.com/PAIR-code/deeplearnjs/blob/master/yolo_mobilenet/demo.html)`

[2018-01-20 17:16] caisq opened #571 "Feature request: Singular-value decomposition (SVD)"
This can mimic tensorflow's o`tf.linalg.svd`: https://www.tensorflow.org/api_docs/python/tf/svd

This is useful for, among other things, the generating of orthogonal initial weights for RNNs.

[2018-01-20 17:42] dsmilkov commented on #556
Can you share a bit more info about your setup:
- OS
- Browser
- What machine (e.g. macbook, desktop?) and how old

Thanks

[2018-01-20 19:52] nsthorat commented on #552
The version @experiencor submitted is mobilenet_v1_1.0_224.

[2018-01-20 20:26] #559 closed

[2018-01-20 20:33] nsthorat commented on #550
Hi @JadenTravnik, apologies for the confusion.

We stopped developing Graph mode functionality in favor of our new eager mode (which lets you operate on NDArrays and only NDArrays). You can check out some details here: https://github.com/PAIR-code/deeplearnjs/issues/561

We're working on filling out gradients for these ops. If there's something we're missing a gradient for, we can prioritize it.

[2018-01-21 00:49] #537 closed

[2018-01-21 00:49] nsthorat commented on #537
This should be fixed now, and will go out with 0.4.3.

[2018-01-21 02:04] haasdo95 commented on #245
I'd like to have a try on this one...
But I'll have to review my numerical methods a little bit...

[2018-01-21 04:56] dsmilkov commented on #245
Duplicate of #571

[2018-01-21 04:56] #245 closed

[2018-01-21 07:31] #413 closed

[2018-01-21 15:06] shady7shen opened #574 "batch eval API"
I'm trying to rewrite convnetjs image regression (http://cs.stanford.edu/~karpathy/convnetjs/demo/image_regression.html) using deepLearnjs, but find it hard to match its performance.
One reason is that I need to eval a large number of (x,y) coordinates to get their corresponding rgb value and it seems that there is no api to do such inference with a batch of inputs.
If it is to be done pixel by pi

[2018-01-21 17:23] ofrobots opened #576 "TypeScript compile errors with 'strict'"
I was trying to use this library from a TypeScript project and getting some very hard to digest TypeScript compile errors in deeplearn types. It turns out that the code here is not usable from a project that uses the TypeScript [strict compiler option](https://www.typescriptlang.org/docs/handbook/compiler-options.html).

Adding the strict flag to `tsconfig.json` in this repo and building gives the

[2018-01-21 17:38] dsmilkov commented on #576
Good point. Unfortunately, we find strict mode to be strangely prohibitive. For example (omitted quotes for readability):
`Array4D<float32>` should be assignable to `NDArray<float32|int32|bool, higher|0|1|2|3|4>` because:
- `Array4D<float32>` actually extends `NDArray<float32, 4>`, thus
- `Array4D` should be assignable to `NDArray`
- `float32` should be assignable to `float32|int32|bool`
- `4` sho

[2018-01-21 20:20] ofrobots commented on #576
I think the problem is due to the following definition of `NDArray`:

[code]
The default type parameters allow one to omit the type parameters when referring to `NDArray`. Strict mode enables [contravariant types](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-2-6.html) for function parameters, and a function accepting an `NDArray<DataType, Rank>` parameter is not type compa

[2018-01-21 21:26] nsthorat commented on #574
We do support batch inference (in our new eager mode, which we don't have documentation for yet and is technically unreleased, but you can start using). Some more details on eager: https://github.com/PAIR-code/deeplearnjs/issues/561

What you can do is set up the input as a [b, d] where b = batchSize (resolution) and d = 2 (x & y), and then train the model using `optimizer.minimize()`. `math.matMu

[2018-01-22 04:24] hpssjellis commented on #568
Got that part working

[2018-01-22 04:24] #568 closed

[2018-01-22 13:02] MarkusBordihn commented on #407
Thanks for the feedback, I created a separate repro and just released the first version of the basic JavaScript based TensorFlow reader under https://github.com/google/deeplearn-tensorflow .

An detail demo instruction is available under:
https://github.com/google/deeplearn-tensorflow/blob/master/DEMO.md

[2018-01-22 13:02] #407 closed

[2018-01-22 18:55] ofrobots commented on #508
Some experiences from over this weekend. I was working a backend (Node.js) project where I just needed a 3D Array structure, I started with deeplearn as it has a really nice accelerated implementation. Here's the friction log:

* It would be good to be able to use just the NDArray and associated code without depending upon the entirety of deeplearn. (This issue)
* In my Node.js typescript project,

[2018-01-22 19:24] hpssjellis commented on #333
Not sure why, probably to reach a larger number of computers, but deeplearnjs transpiles to ES5 format. I have had a very difficult time converting the bundle.js file into regular old fashioned javascript.

Yesterday found out about

`tsc --target ESNext   myTypeScriptFile.ts`

which could also be

`tsc --target ES2017   myTypeScriptFile.ts`

I can transpile each individual .ts file into a format

[2018-01-23 04:22] #534 closed

[2018-01-23 09:11] MarkusBordihn commented on #407
Hi Nikhil,
as explained more in detail per email. Feel free to take over the GitHub repro and the NPMjs name as soon your official integration is ready to use. Thanks.

[2018-01-23 14:51] nkreeger commented on #407
Hi Markus,

I think we might put the official integration under `tensorflow/` - so having both a repo under `google/` might be confusing to some users. Do you mind moving it over to a personal repo?

Thanks!
Nick

[2018-01-24 04:32] nadendlaprasad commented on #556
Laptop Windows 10, chrome browser. It's 5 years old laptop

[2018-01-25 00:32] shady7shen commented on #574
Thanks, the eager mode seems a lot more straight-forward :) And batch inference in eager mode is quite handy. Hope there will be more optimizers implemented so as to make eager mode productive.

[2018-01-25 11:03] MariasStory commented on #496
Hi @dsmilkov, unfortunately, the demo does not work :-(.
I did "empty cache and hard reload".
Is there something else that I can collect on my system to help in solving the problem?

[2018-01-25 14:20] erikwilson commented on #333
@hpssjellis sorry if I am missing the question, I haven't actually tried it myself but I'm curious if the default target of ES3 or explicitly setting it as ES5 might be what you are after.

[2018-01-25 19:42] nsthorat commented on #574
Yeah, we just need to migrate the optimizers over, but that shouldn't be too far out!

[2018-01-25 19:45] nsthorat opened #592 "Migrate optimizers to eager mode."
Now that we're going to be writing gradients with eager mode, optimizers should be moved to use the new API.

Optimizers should be moved to `./src/math/optimizers` as we migrate, and should simply implement "applyGradients".

SGD example: https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/optimizers/sgd_optimizer.ts#L38

For more information on eager, see this issue: https://github.com/

[2018-01-25 19:45] nsthorat commented on #574
Filed https://github.com/PAIR-code/deeplearnjs/issues/592

[2018-01-25 22:12] hpssjellis commented on #333
@erikwilson    ES5 is the default setting on the deeplearnjs tsconfig.json file. It creates a really messy file output that is needed for ES5 to deal with Async commands.

Setting the tsconfig.json file to ES2017 or ESNext is a much cleaner output but it still has import and export  commands that need to be deleted.

All is good. I am making do with what I have.

Check out the "mnist_eager" shown

[2018-01-28 05:59] acostin1 opened #605 "Extending the model builder with a webcam support"
Hi,
I am playing with deeplearn.js, impressive work so far and it's really easy to explain some of the concepts to my son - but I am not an expert in neural networks not in HTML anymore  (and polymer and typescript are raising the bar :).

I am trying to enhance the model builder demo, have it include a webcam and then capture the webcam content and infer it.

So far, I have a const image = Array3

[2018-01-28 06:56] acostin1 commented on #605
Made some progress.

const element = this.webcamVideoElement;
const image = Array3D.fromPixels(element, 3) as NDArray;
this.cameraContent = ENV.math.cast(image, "float32");

Then I use it in the getTestData method.

const [images, labels] = this.dataSet.getData() as [NDArray[], NDArray[]];
for (let i = 0; i < 15; i++)
  images[images.length - 15 + i] = this.cameraContent;
return [images.slice(imag

[2018-01-28 10:27] ManrajGrover commented on #561
@nsthorat @dsmilkov A little guidance required here. What should the gradient of comparison and logical operations look like? Any good sources for the same?

[2018-01-28 13:46] jaassoon opened #608 "running `yarn test --browsers=Chrome --grep='una'` without result"
Why running
`yarn test --browsers=Chrome --grep='una'`
always raising
`Chrome 63.0.3239 (Mac OS X 10.13.2): Executed 0 of 5032 (skipped 5032) ERROR (20.526 secs / 0 secs)`

`yarn test --browsers=Chrome --grep='trans'` is OK
showing
`Chrome 63.0.3239 (Mac OS X 10.13.2): Executed 27 of 5032 (skipped 5005) SUCCESS (21.438 secs / 1.11 secs)` in console

[2018-01-28 13:54] ManrajGrover commented on #608
@jaassoon It is because there were no test name could be found with keyword `'una'` in it, whereas there are test names which contain the keyword `'trans'` in them, hence they were executed.

[2018-01-28 14:15] jaassoon commented on #608
But I found a file named src/math/unary_ops_test.ts
Does it match the keyword ‘una’?

[2018-01-28 15:13] ManrajGrover commented on #608
@jaassoon The command looks for test names and not file names. I don't see a way to pass filename to karma. For now, if you wish to run specific tests, you should pass test names like `yarn test --browsers=Chrome --grep='ceil'`.

[2018-01-28 17:49] nsthorat opened #610 "Add generic dot product as a method on NDArray."
Right now we only have "matMul" which forces you to have 2 Array2Ds, so a vector * matrix becomes:

`v.as2D(-1, m.shape[0]).matMul(m)`

We should simply have to do `v.dot(m)`.

[2018-01-28 17:51] nsthorat opened #611 "Add a "draw" method to dl which draws an Array3D to a canvas."
In at least 5 demos, we have this block copied:
[code]

Let's move this to a method "draw" or possibly "imshow".

[2018-01-28 19:02] nsthorat opened #612 "Allow 1D concat to take no axis parameter."
When using the generic "concat", you must provide an axis param if both arrays are 1D:

`const y1d = a1d.concat(b1d, 0);`

I believe we can solve this by doing another type map, for Rank 0, axis can be undefined and else it should be number.

[2018-01-28 19:36] gena commented on #561
Added implementation for `sigmoid`, PR #603.

[2018-01-28 22:41] nsthorat commented on #608
@ManrajGrover is correct, the karma doesn't know about the filenames, only what you use in "describe" and "it".

[2018-01-28 22:45] jaassoon commented on #608
Ahh, I see.
Thank you for your answer @manrajgrover @nsthorat

[2018-01-28 22:45] #608 closed

[2018-01-29 14:16] nsthorat opened #613 "Add dl.linspace and dl.arange."
We should add helper linspace and arange functions to generate numbers within a range.

[2018-01-29 14:22] nsthorat opened #614 "Add dl.time to global namespace."
We should allow timing of arbitrary functions through "dl.time".

[2018-01-29 14:28] nsthorat opened #615 "Add dl.setBackend to global namespace"
We should allow:

[code]

Currently users have to do:

[code]

[2018-01-29 14:31] nsthorat opened #616 "Allow number values in place of scalar values in ops."
Currently users have to do this for dividing by constants:

[code]

Ideally, they would only have to do:

[code]

In WebGL, we can upload the Scalar as a uniform value.

[2018-01-29 16:51] nsthorat opened #617 "Calling asType on an RGBA packed integer texture does nothing."
[code]

`a` will be of dtype 'float32', but when downloading will be a Uint32Array. This is because we simply no-op when casting an int => float texture on the GPU, but for packed integer textures we should be actually calling a shader to unpack the RGBA integer texture.

[2018-01-29 19:15] nsthorat opened #619 "Add better error messages for optimizers interactions with variables."
1) When minimize is called and there are no variables registered, throw an error.
2) When dl.variable is used inside a gradients method, throw an error. This is a mistake.

[2018-01-30 09:32] lcycoding opened #620 "Yolo_mobilenet adapt retrain's weight_profile?"
Dear Authors,
After trying for few days, I'm almost giving up running Object Detection on web-browser... :(

I was wondering if there's any pre-built packages that consist in the yolo_mobilenet demo.
Since I've trained my yolo_mobilenet model from scratch, but the weight did not fit into the checkpointLoader function. (Note: I've modified the output filter, box_num, num_of_classes.

Is there anyth

[2018-01-30 16:54] tafsiri commented on #613
@nsthorat Do you think there is any value in naming `arange` as `range` instead? I imagine the arange name in python is to make it distinct from the built in range function. My guess being arange -> 'array range', which doesn't have the same meaning/connotation in js (where arrays are the standard datastructure as opposed to lists).

[2018-01-30 21:39] dsmilkov commented on #613
+1 to calling it just `range`. As you said, `arange` is a side-effect of `range` being already built-in in python :)

[2018-01-31 18:25] akshay951228 opened #623 "how to load gray scale from image to tag"
this function
pixel = dl.Array2D.fromPixels(image);
returns
Array3D {isDisposed: false, math: NDArrayMath, size: 12288, shape: Array(3), dtype: "int32", …}
but what I want out as Array2d how I can do that?

[2018-02-01 12:43] nsthorat opened #628 "Change the signature of "gradients" to return a function."
Currently, "gradients()" takes a function and computes the output of that function with respect to some xs. We should be more like TensorFlow eager / autograd and return a function so it can be chained.

This is as simple as wrapping the body of the gradients function is a function closure.

See: https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/backends/backend_engine.ts#L130

[2018-02-01 19:35] tafsiri opened #630 "Tests failing on travis"
We seem to have some tests failing on travis. https://travis-ci.org/PAIR-code/deeplearnjs/builds/335849897 I think they were introduced in #627. @dsmilkov would you be able to take a look?

[2018-02-02 14:39] nsthorat commented on #630
https://github.com/PAIR-code/deeplearnjs/pull/633

[2018-02-02 14:56] nsthorat commented on #630
Ah, apologies. You are right, they were introduced here:

https://github.com/PAIR-code/deeplearnjs/pull/627

Specifically "clone" interacting with "set" now breaks:
https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/ndarray_test.ts#L74-L79

@dsmilkov can you send a fix?

[2018-02-02 15:06] nsthorat commented on #623
This will be fixed in the next release!

[2018-02-02 15:48] tafsiri opened #634 "Support testing against empty NDArray in testutil"
While developing #624 we found that ` test_util.expectArraysEqual(a, []);` while  ` test_util.expectArraysEqual(a, new Float32Array(0));` does.

I suspect it is an issue in test_util. This issue is to track making the first snippet work.

[2018-02-02 16:00] ManrajGrover commented on #634
@tafsiri I didn't quite get the issue here.

[2018-02-02 16:11] dsmilkov commented on #630
Yup, will remove `set` and `add` in NDArray. There is no point in keeping backwards compatibility with these 2 methods when we are making `NDArray`s immutable.

[2018-02-02 17:08] akshay951228 commented on #623
waiting for the release

[2018-02-02 20:49] nsthorat opened #636 "Bring back localResponseNormalization#D tests once we fix the flaky test."
See: https://github.com/PAIR-code/deeplearnjs/pull/633

Example: https://api.travis-ci.org/v3/job/336158839/log.txt

[2018-02-03 05:45] lexfridman opened #637 "Automatic TensorFlow to deeplearn.js"
Do you have an updated timeline for automatically porting GraphDef models to deeplearning.js as this Roadmap shows: https://deeplearnjs.org/docs/roadmap.html

Can I help?

[2018-02-03 15:31] dsmilkov commented on #630
Fixed in #625 (I did it in that PR since the fix was tiny, but I wanted to make sure Travis passes)

[2018-02-03 15:31] #630 closed

[2018-02-03 15:32] dsmilkov commented on #614
Fixed in #625

[2018-02-03 15:32] #614 closed

[2018-02-04 18:41] nsthorat commented on #592
@ManrajGrover if you're interested in picking up more, this would be a great one. You are doing an *amazing* job :)

[2018-02-05 22:06] tafsiri opened #648 "Design/Implement new API docs"
- Based off of @nsthorat work parsing jsdoc and our new doc annotations. This task will pick up where that leaves off to generate the final layout we want to release.

[2018-02-05 22:06] tafsiri opened #649 "Convert tutorials to new API"

[2018-02-05 22:09] tafsiri opened #650 "Support 'class' decoration and jsdocs in API docs"

[2018-02-05 22:10] tafsiri opened #651 "Migrate demos to new API"
TODO: This issue will need a checklist to track all the demos that we want to convert.

[2018-02-05 22:11] tafsiri opened #652 "Add optimizers to dl.*"

[2018-02-05 22:12] tafsiri opened #653 "Add dl.setBackend()"

[2018-02-05 22:12] tafsiri opened #654 "Change grad API"
to allow `grad(f, x)(x0)`

[2018-02-05 22:13] tafsiri opened #655 "Add missing JSDoc"
This is a pretty broad tracking issue mainly to remind us to work on this. We could detail it out at maybe a package level or something if we wanted.

[2018-02-05 22:14] tafsiri opened #656 "Add dl.tensor()"
... 1d, 2d, 3d, 4d

[2018-02-05 22:22] dsmilkov commented on #653
duplicate of #615

[2018-02-05 22:22] #653 closed

[2018-02-05 22:54] nkreeger commented on #637
We're currently working on the design for this feature. We plan to introduce an automatic converter that will export a frozen or saved model automatically to deeplearn.js. Right now, we are planning on introducing a converter that takes the model and exports the graph and the weights into a format that can be easily introduced. Op matching is clearly a major component and we are working on reporti

[2018-02-05 23:12] tafsiri commented on #634
Hi @ManrajGrover, if you look at https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/array_ops_test.ts#L1611 you will see `test_util.expectArraysEqual(f, new Float32Array(0));`, when adding these tests i found that `test_util.expectArraysEqual(f, []);` doesn't work, (note that `f` is an empty Array1D). I suspect the issue was in the test_util so this issue was to remind me to track it do

[2018-02-06 03:56] #656 closed

[2018-02-06 05:27] akshay951228 opened #659 "Dropout is not implemented yet"
I'm importing tensor model weight in DLJs, in my model I have dropout but dropout is not implemented yet.So my question is when it will be implemented

[2018-02-06 14:27] dsmilkov opened #662 "Add dl.memory()"
Expose `dl.memory()` which will return a rich object:
[code]
`dataBuffers <= tensors`, since `a.reshape(newShape)` makes a new Tensor that shares the same data buffer with `a`.

[2018-02-06 14:53] dsmilkov commented on #656
Duplicate of #646

[2018-02-06 15:43] #613 closed

[2018-02-06 16:36] tafsiri commented on #649
- [ ] Getting Started (on home page)
- [ ] Introduction
- [ ] Getting the best performance
- [ ] Guide for non-ML experts
- [ ] Example: Predicting Complementary Colors

[2018-02-06 17:00] dsmilkov opened #664 "Add dl.dot()"
The implementation should follow [tf.tensordot](https://www.tensorflow.org/api_docs/python/tf/tensordot)

[2018-02-06 18:35] ManrajGrover opened #665 "Make dl.where support scalars"
Currently, dl.where throws an error for Scalars because it internally calls `getCoordsDataType()` which does not support rank 0. We should make it use `int` for both rank 0 and rank 1. On CPU, it does not check for rank 0 which makes `offset` undefined.

[2018-02-06 18:38] ManrajGrover commented on #665
Taking this one up

[2018-02-06 18:50] dsmilkov opened #667 "Improve dl.time(f)"
Right now `dl.time` returns a promise with only backend compute time. We should return a more detailed picture:

[code]

[2018-02-06 22:13] #650 closed

[2018-02-06 23:13] #615 closed

[2018-02-07 02:40] nsthorat commented on #592
I will take these on in 1 PR.

[2018-02-07 16:30] tafsiri commented on #649
I propose removing the current "Guide for non-ML experts" and folding its content into the introduction. Since graph mode is being deprecated and most of that page is about graph mode. I don't think we need it until we can re-write it completely. The portion I think we could move to the introduction is the description of tensors (mathematically/conceptually).

Alternatively this page could be turn

[2018-02-07 18:13] ManrajGrover commented on #665
Fixed in #666. Can be closed now.

[2018-02-07 18:13] #665 closed

[2018-02-07 18:24] ManrajGrover commented on #634
Hi @tafsiri, I just tried `test_util.expectArraysEqual(f, []);` and it works just as same as `test_util.expectArraysEqual(f, new Float32Array(0));`. Could you please recheck?

[2018-02-07 19:05] NitroBAY commented on #112
Okay thanks @michaelvogt I just couldn't figure out I had to put node before `./scripts/watch-demo demos/nn-art` so I was stuck for hours at the getting started step.

[2018-02-07 20:03] dsmilkov commented on #664
Duplicate of #610

[2018-02-07 20:03] #664 closed

[2018-02-08 09:20] carlthome commented on #637
This sounds absolutely fantastic!

[2018-02-08 13:19] p-buddy opened #674 "Help with Inferencing Using Ported TensorFlow Model and Convolutional Layers"
Hello,

I'm looking to only run an inference on a ported TensorFlow cnn trained on cifar 10. Can anyone offer some guidance on the easiest way to set up my deeplearn_js model after reading in the variables from checkpoint loader.

The mnist tutorial using checkpoint loader didn't make it clear to me how to support more complex layers, like convolutions. Yet, it feels like it'd be a waste of time t

[2018-02-08 13:58] asross opened #675 "Broken link to documentation"
When I click on the documentation link in the README (or the main site), I get:

![image](https://user-images.githubusercontent.com/1022564/35976491-4af02bc2-0cae-11e8-960b-8a6a33eb7377.png)

[2018-02-08 14:28] nkreeger commented on #674
Currently, you have to rebuild the model's inference graph in order to perform inference in deeplearn.js. The mnist sorta reflects how to rebuild the graph + loading the checkpointed weights. We are working on a solution now that loads a saved (frozen) model, automatically converts the graph, exports the weights, and attempts to run inference. Any missing ops will be reported by this tool. Stay tu

[2018-02-08 14:29] nkreeger commented on #674
Please see #637

[2018-02-08 14:59] nadiia-pyvovar opened #676 "Porting SSD+MobileNet to deeplearnjs"
We trained an
[object detection model](https://github.com/tensorflow/models/tree/master/research/object_detection) and want to port it to run in browser. We tried to convert the graph using the  [mnist example](https://deeplearnjs.org/demos/mnist/mnist.html), but have problems with graph description in MODEL_NAME.ts file. We try to imitate files in models/yolo_mobilenet, but they don't seem to wor

[2018-02-08 15:34] nsthorat commented on #649
Your plan sounds great to me. I would note that it would be really nice to have a guide from first principles at some point (assuming people don't know what a tensor is).

[2018-02-08 16:02] talvasconcelos opened #677 "[Noob] - Train an LSTM Example"
Guys, i'm a noob at ML, been messing around with Synaptic and Neataptic libraries and have seen some success. I'd like to try deeplearn but it seems too "mathy" to me.

The reason i used the above libraries are 1) they are in JS and 2) they had already built functions for LSTM, GRU, etc... One can start a training session with declaring the network: LSTM(2, 3, 1)... 2 input nodes, 3 hidden layers

[2018-02-08 16:47] nsthorat opened #678 "Use dl.variable in optimizers."
It would be nice to hold optimizer caches / accumulations as dl.variables so they we can use "assign" and also serialize them.

Another thing to think about - do we want to make it easy to recognize training variables with another bit to "dl.variable"?

[2018-02-08 19:39] dsmilkov commented on #675
Thanks! API is back up. Just to give you a heads up, we are working on releasing 0.5.0 with revamped simplified docs and much simpler API. You can follow this on the [milestone page](https://github.com/PAIR-code/deeplearnjs/milestone/1)

[2018-02-08 19:39] #675 closed

[2018-02-08 20:25] p-buddy commented on #674
Great! Thank you — very excited for that release. I'm not so great with doing the graph definitions in typescript.

[2018-02-08 22:44] #662 closed

[2018-02-08 23:56] dsmilkov commented on #659
Dropout is a great example for an external contribution. Happy to provide review!

[2018-02-09 00:07] nsthorat commented on #659
@caisq is this something that would be easy to push into deeplearnjs?

[2018-02-09 00:14] dsmilkov commented on #678
Any ideas what the benefit wil be of having a special bit for training-related variables? Is `trainable: false` not sufficient?

[2018-02-09 01:40] nsthorat commented on #592
Removing from milestone as we will not ship with all optimizers (it took quite a bit of time for me to rewrite the optimizers from first principles, as well as unit tests).

I learned that RMSProp was not implemented correctly. @ManrajGrover, if you want to take on converting the last 3 optimizers, that would be immensely helpful (just make sure the existing implementations are correct, I will do

[2018-02-09 02:37] caisq commented on #659
@nsthorat Feel free to assign this FR to me.

[2018-02-09 02:57] dsmilkov commented on #659
Awesome. Trying to assign you but looks like we need to give you write access - will do now

[2018-02-09 03:11] dsmilkov commented on #678
Thanks! Makes sense. Still unclear if dl.js API should be designed for serialization (maybe we leave it to higher-level layers), but we should def revisit later.

[2018-02-09 06:28] ManrajGrover commented on #592
@nsthorat Sure, I'll wait for #668 to merge before looking into the remaining optimizers. Thanks for pinging! :)

[2018-02-09 07:56] ManrajGrover opened #680 "ELU Activation api doesn't allow alpha to be set"
While adding gradients, I noticed [elu](https://github.com/PAIR-code/deeplearnjs/blob/master/src/math/unary_ops.ts#L173), doesn't allow alpha to be set. Strangely, even [tensorflow](https://www.tensorflow.org/api_docs/python/tf/nn/elu) doesn't allow this. Not sure why.

I can take this one up if we decide to include this.

Reference: https://arxiv.org/pdf/1511.07289.pdf

[2018-02-09 13:57] ManrajGrover commented on #561
@nsthorat We can tick off `ceil`, `clip`, `cosh`, `floor`, `maximum`, `minimum`, `selu`, `sigmoid`, `sinh`, `softmax` and `tanh`.

`prelu`, `elu` are partially implemented. Only gradients w.r.t. `alpha` need to be added.

`leakyRelu` and `step` gradients are in progress.

Since logical and comparison operations don't have an actual gradient, should we return `NaN`, zeros or not pass gradient funct

[2018-02-09 14:04] nsthorat commented on #651
This doesn't have to happen before 0.5.0 since we're going to support backwards compatibility for this version. Specifically, we're missing a few optimizers for the model builder to be fully converted. We can tackle this after 0.5.0.

[2018-02-09 14:30] nsthorat opened #681 "Variable.assign should not dispose input tensor."
Right now when you call "assign" on a variable with an input tensor, we dispose that input tensor.

This makes sense if you are setting up weights, but uses of variables in complex situations like optimizers makes this quite awkward.

[code]

Assign should probably not dispose the input tensor.

[2018-02-09 16:15] #678 closed

[2018-02-09 16:15] nsthorat commented on #592
Merged! Let me know if you have any questions. Thanks for looking into this!

[2018-02-09 22:51] dsmilkov commented on #561
@ManrajGrover Great q. For now, let's leave out logical and comparison ops and not pass a gradient function to `executeKernel`. Next would be `reverse`, `slice`, `pad`, `concat` (in that order). Thanks!

[2018-02-10 12:54] jaassoon opened #688 "do we have a plan to implement zip function like python's?"

[2018-02-11 02:17] jaassoon commented on #688
maybe just like this: {xs: dl.Tensor2D, labels: dl.Tensor2D} in
/demos/mnist_eager/data.ts line 55

[2018-02-12 01:34] #654 closed

[2018-02-12 08:13] dikatok opened #694 "Any plan to support weights quantization?"
Thanks for the great project

I see that there is currently a separate project about converting frozen model but do we have any plan to support weights quantization during checkpoint convertion? Or it's not necessary since we can reuse quantization in tensorflow toco? Especially when the frozen model support is ready.

[2018-02-12 10:13] amelon opened #695 "Documentation not in sync with npm version"
Hello,

current doc and api is not accurate with npm published version.

eg: tidy does not exist in 0.4.2 as SymbolicTensor.

Could you please publish a new npm version with your last code version?

It would be very helpful.
Thanks

[2018-02-12 13:40] nsthorat commented on #695
We will be publishing a new version, 0.5.0, on Wednesday with a brand new API reference page that has been more manually curated.

[2018-02-12 14:21] dsmilkov commented on #695
Yeah, apologies for the temporary out of sync. You can follow the progress for 0.5.0 here: https://github.com/PAIR-code/deeplearnjs/milestone/1

[2018-02-12 15:00] dsmilkov commented on #694
@pyu10055 and @nkreeger for more details.

[2018-02-12 16:22] tafsiri commented on #677
Hi @talvasconcelos, I don't think we are able to train LSTM's at the moment. We are working on some changes that should enable this soon (in the next week or so), but it might be a while before we have higher level apis or tutorials for this. However its helpful to know which tutorials will be helpful for folks as we plan out which ones we do next so thanks for posting!

One thing you might want t

[2018-02-12 16:40] nsthorat opened #696 "Change dl.concat API to mirror TensorFlow."
TensorFlow takes an array of Tensors as the first argument (allowing you to concat >2 Tensors together), while we only take 2 arguments.

We should mirror the TF API and take an array. At first, we can simply take an array of 2 Tensors before the 0.5.0 release, but eventually allow more than 2 Tensors.

[2018-02-12 18:00] nsthorat opened #697 "Change dl.matMul to have the same API as TensorFlow."
Right now we have to pass an enum for MatrixOrientation, TensorFlow allows two bits for transpose_a and transpose_b. We should do the same.

[2018-02-12 18:22] nsthorat commented on #610
We also currently have a "dotProduct" method, which we should consolidate under tensordot with the fix for this issue.

[2018-02-12 18:35] pyu10055 commented on #694
The plan is to use [grappler](https://github.com/tensorflow/tensorflow/tree/master/tensorflow/core/grappler) instead of TOCO for graph optimization,  weight quantization will not be in the initial release. It will be high in our radar, since it is crucial for reducing the weight file size.

[2018-02-12 19:33] amelon commented on #695
thanks for info and good news :)

[2018-02-12 21:57] tafsiri opened #698 "Integrate new docs into current site build"

[2018-02-12 21:59] tafsiri commented on #648
- [ ] Add TOC highlighting
- [ ] Add links between symbols
- [ ] Fix subsection header
- [ ] General look through on vertical spacing

[2018-02-12 23:43] dikatok commented on #694
Wow, have never heard of grappler module before. That sounds like a good plan, thanks!

[2018-02-12 23:43] #694 closed

[2018-02-13 03:15] dsmilkov commented on #617
After we added a `fromPixels` gpu shader that instantly unpacks pixels, `dl.fromPixels()` should return tensor of type `bool` that already holds unpacked data.

The fact that the instance is `UInt32Array` even after casting to `float32` is implementation detail, and shouldn't concern the user. In other words, `a.dataSync()[7]` will give you the 8th value, regardless of which flavor the TypedArray

[2018-02-13 03:19] dsmilkov commented on #617
Fixed in #622. To be reopened if the instance of TypedArray matters to the user.

[2018-02-13 03:19] #617 closed

[2018-02-13 03:45] nsthorat opened #700 "Remove bias from conv2d."
To be TF-compatible, we should remove `bias` from `dl.conv2d`. Let's do this before 0.5.0

[2018-02-13 15:22] dsmilkov opened #704 "Bring back default jasmine timeout limit for some dl.data tests"
See #701 for context

[2018-02-13 15:28] dsmilkov commented on #704
Also it would be nice if we can make the test running time much shorter - ideally as short as possible

[2018-02-13 15:38] dsmilkov opened #705 "Add generic dl.pad"
Right now we only have `dl.pad1d` and `dl.pad2d`. Add generic one that aligns with `tf.pad`

[2018-02-13 15:45] dsmilkov opened #706 "Add dl.stack"
`tf.stack(tensors, axis=axis)` can be implemented via tf.concat as:
`tf.concat([tf.expand_dims(t, axis) for t in tensors], axis)`

See https://www.tensorflow.org/api_docs/python/tf/concat

[2018-02-13 19:11] #649 closed

[2018-02-14 01:22] nsthorat commented on #676
@pyu10055 @nkreeger for more information about auto model porting.

[2018-02-14 01:23] nsthorat commented on #704
+1, can you submit that change that yells when tests go over 500ms?

[2018-02-14 02:00] davidsoergel commented on #704
I'm looking into the issue with my tests (briefly, ChainedStream seems to be slow in general, maybe due to long promise chains).  But also, +1 to having a warning for tests that are slower than desired but not too slow to fail outright.

[2018-02-14 02:01] dsmilkov commented on #704
Adding the warning in PR https://reviewable.io/reviews/pair-code/deeplearnjs/708/karma.conf.js
We also have a few slow tests in ops - speeding up should be easy.

[2018-02-14 02:04] dsmilkov commented on #704
FYI, that PR produced a new log where all slow tests are logged. Search for "SLOW" in https://api.travis-ci.org/v3/job/341233182/log.txt

[2018-02-14 02:07] davidsoergel commented on #704
Nice, so all of my tests are slow, not just the ones implicated before :O

[2018-02-14 02:51] #696 closed

[2018-02-14 03:23] #697 closed

[2018-02-14 03:33] dsmilkov commented on #706
Fixed in #708

[2018-02-14 03:33] #706 closed

[2018-02-14 03:33] dsmilkov commented on #705
Fixed in #708

[2018-02-14 03:33] #705 closed

[2018-02-14 14:14] dsmilkov commented on #612
Fixed in #708. Axis is now optional in concat.

[2018-02-14 14:14] #612 closed

[2018-02-14 14:15] dsmilkov commented on #681
@nsthorat This is fixed right? Feel free to close upon confirmation.

[2018-02-14 14:36] nsthorat commented on #681
Correct, this is fixed.

[2018-02-14 14:36] #681 closed

[2018-02-14 19:18] #667 closed

[2018-02-14 19:20] nsthorat opened #721 "Bring back dl.multinomial once we support unnormalized log probabilities."
We don't currently support unnormalized log probabilities (that is, you have to call softmax on logits before passing to multinomial).

This is not compatible with TensorFlow, so let's remove it for 0.5 and then bring it back soon after.

[2018-02-14 21:08] tafsiri commented on #648
This is pretty much done though there is room for improvement. closing this in favour of more specific issues.

[2018-02-14 21:08] #648 closed

[2018-02-14 23:47] #700 closed

[2018-02-15 02:12] nsthorat commented on #242
This is fixed. See you tomorrow :D

[2018-02-15 02:12] #242 closed

[2018-02-15 13:00] OliverLonghi opened #726 "Tutorial out of date"
I´m trying to follow [this](https://deeplearnjs.org/docs/tutorials/intro.html) tutorial using [this](https://github.com/PAIR-code/deeplearnjs/tree/master/starter/typescript) starter project but it is not compiling this snippet taken from the tutorial:

[code]

Error is:
`[ts] Property 'sub' does not exists on type 'Array2D<"float32" | "int32" | "bool">'.`

[2018-02-15 13:16] OliverLonghi commented on #726
Found another snippet not compiling on the same tutorial.

![image](https://user-images.githubusercontent.com/22771958/36258359-75c3564c-1241-11e8-93a6-9a6e17decb3e.png)

[2018-02-15 14:15] dsmilkov commented on #726
Hi @OliverLonghi

We just updated the tutorials and the docs and are about to release 0.5.0 (whose API matches those docs) later today. Stay tuned!

[2018-02-15 15:40] TGotwig commented on #726
Hey there 🤗
In your "Guide for non-ML experts" tutorial,
you are using the matrixTimesVector function,
but javascripts says to me

was it renamed or something?

[2018-02-15 15:47] TGotwig commented on #726
Nope, from https://deeplearnjs.org/docs/tutorials/ml_beginners.html
Okay looking forward 🤗

[2018-02-15 16:39] #698 closed

[2018-02-15 16:39] tafsiri commented on #698
done

[2018-02-15 17:38] ManrajGrover opened #728 "Add use_nesterov flag to MomentumOptimizer"
Currently, `MomentumOptimizer` does not implement Nesterov momentum which [Tensorflow](https://www.tensorflow.org/api_docs/python/tf/train/MomentumOptimizer) supports. Need to add this feature.

[2018-02-15 17:52] ManrajGrover opened #729 "Allow centered RMSProp"
Carrying the discussion from https://github.com/PAIR-code/deeplearnjs/pull/687#issuecomment-364771968 forward, RMSPropOptimizer doesn't implement centered RMSProp which Tensorflow provides. Need to incorporate this feature.

[2018-02-15 18:56] ManrajGrover commented on #592
We can close this now :)

[2018-02-15 19:02] dsmilkov commented on #592
Thanks @ManrajGrover for finishing the migration!

[2018-02-15 19:02] #592 closed

[2018-02-15 22:01] #704 closed

[2018-02-15 22:06] nsthorat commented on #726
0.5.0 has been released: https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0

[2018-02-15 22:13] #726 closed

[2018-02-15 22:15] dsmilkov commented on #695
We released [0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0) today! Feel free to reopen if you run into issues documentation issues.

[2018-02-15 22:15] #695 closed

[2018-02-15 22:16] #655 closed

[2018-02-15 22:18] dsmilkov opened #732 "Add tensor.toString()"
`tensor.toString()` should print the tensor in human-readable format, like numpy does.

[2018-02-15 22:18] #652 closed

[2018-02-15 23:11] carlthome opened #734 "L-BFGS for style transfer"
[Fast style transfer](https://github.com/reiinakano/fast-style-transfer-deeplearnjs) with pretrained models is __really__ cool, but the original optimization-based method presented by Gatys et al. seems like such a great fit for what deeplearn.js could provide with its WebGL integration and builtin gradient computation.

I'd really like to make interactive style transfer web apps but there's no L-

[2018-02-16 13:56] nsthorat opened #738 "Improve printing Tensors."
We should use numpy / TF style printing, or invent our own that is human readable for `toString()` ad well as for print().

We should also use custom object formatters in Chrome to render Tensors in a human readable way.

[2018-02-16 14:01] nsthorat commented on #734
Currently we're only focusing on SGD variants of optimizers, but if you are interested in making an L-BFGS, 2nd order gradient based optimizer you can either
1) extend the Optimizer base class and override `computeGradients`, and `applyGradients`
or 2) simply write your own optimizer without using the Optimizer class. You can compute gradients with the eager style method of differentiation (use me

[2018-02-16 14:38] tafsiri commented on #738
related to #732

[2018-02-16 14:45] tafsiri opened #739 "Mobile breakpoint for API docs"
Either stack or hide the TOC

[2018-02-16 16:35] #739 closed

[2018-02-16 17:28] erikwilson commented on #637
Thanks for everyone's hard work on the 0.5 release!

It looks like TensorFlow checkpoint support still needs to be worked on, it would be nice if there is generic support so we can use other formats like protobuf, msgpack, raw objects, etc. If there is anything that can be done to help with that please let me know!

It would also be helpful if Semantic Versioning were used for iterating through ve

[2018-02-16 18:28] erikwilson commented on #637
Sorry, I feel silly, TensorFlow already uses protobuf.
I imagine something like https://www.npmjs.com/package/tensorflow-tools helps and with https://www.npmjs.com/package/deeplearn-tensorflow by @MarkusBordihn it looks possible to load values but maybe not a recreate a whole model.

[2018-02-16 19:39] ManrajGrover opened #742 "Improve mobile web view for documentation"
Currently, the view on mobile shows all public methods at the top and documentation after that. I feel we can move the methods under hamburger menu to clean up the view.

Also, after clicking an anchor tag to jump to a section, it hides the api method behind the navigation bar.

I can take this one up.

<img width="773" alt="screen shot 2018-02-17 at 1 08 41 am" src="https://user-images.githubuser

[2018-02-17 10:57] chaosmail opened #744 "API reference URL in the README.md links to globals.html"
The README links to the API reference website https://deeplearnjs.org/docs/api/globals.html which doesn't seem to be a valid page anymore.

[2018-02-17 11:29] ManrajGrover commented on #744
Fixed in #745

[2018-02-17 13:29] #744 closed

[2018-02-17 18:58] ManrajGrover commented on #742
@nsthorat Should we also add a hamburger menu for mobile or do we plan to change design in near future?

[2018-02-17 23:16] dsmilkov commented on #732
Duplicate of #738

[2018-02-17 23:16] #732 closed

[2018-02-18 01:49] bannazz opened #750 "vanilla/pure javascript documentation or reference and examples?"
Hello, I'm considering taking the time and the effort learning the technology offered here but I'm not willing to learn typescript and can not use it. Actually I ditched angular as did a huge number of programmers because of the bad decision of changing its mother language to typescript and dropping the ".js" from the name. And that's Angular not a startup tech.

Deeplearn.js is supposedly a Javas

[2018-02-18 16:24] erikwilson commented on #750
Typescript is compiled to Javascript, and you can use DeepLearn with any language that also compiles to Javascript, or just JS itself.

This is probably a generic enough question that can be answered with something like: https://stackoverflow.com/questions/26427722/calling-properly-typescript-code-from-javascript

For my own obsolete example, https://github.com/erikwilson/deeplearn-graph-serialize

[2018-02-18 16:31] nsthorat commented on #750
HI @bannazz

We're now in tutorials mode, so expect to see tutorials in raw ES6 in the coming weeks. Currently, our code examples in the API reference are all es6: https://deeplearnjs.org/docs/api/

[2018-02-18 18:39] nsthorat commented on #637
Oh no, I'm sorry @erikwilson. It's a little confusing why we're staying below version 1.0, but we need to for right now without going into all the details.

What specifically broke about the serializer?

[2018-02-18 19:01] erikwilson commented on #637
Thanks @nsthorat! It appears that for 1D variables we can no longer do something like `Scalar.new([1], 'bool')`. Beyond that I was receiving some errors about invalid tensor ids, but I have only spent a little bit of time looking at it. Hopefully I was correctly initializing them in the first place, and my library maybe looked at variables that weren't published in the API. I'm sure it's easier to

[2018-02-18 19:17] nsthorat commented on #637
Ooh I'm sorry, I think the signature changed ever so slightly (unintended, this was supposed to be backwards compatible). All of the constructors moved to top-level constructors, I think this should be straightforward to migrate:

`Scalar.new` => dl.scalar()
`Tensor1D.new` => dl.tensor1d()

More here: https://deeplearnjs.org/docs/api/#Tensors-Creation

Let me know if you run into any other issues.

[2018-02-18 19:45] #738 closed

[2018-02-18 20:44] dsmilkov commented on #637
Hi @erikwilson,

Thanks for reporting this. Small suggestion:
I noticed you used `Scalar.new([1], 'bool')` - this was never valid, try Scalar.new(1, 'bool').

Thanks!

[2018-02-19 01:36] erikwilson commented on #637
Thanks for the info @dsmilkov, I figured I was doing something wrong, that seems logical so it is nice that the constructor at least informs you that you have the wrong type now. My main issue seems to be that id numbering may have changed a little bit, not really a big deal as I don't think many people use that library anyways and I am happy to obsolete it for something better.

[2018-02-19 02:10] nsthorat opened #751 "Add dl.browser.drawImage()"
We should add a utility in core that lets you draw an image Tensor to a canvas, instead of repeating this over and over in demos.

Alternatively this could be called  imshow() or showImage() to mirror matlab.

[2018-02-19 03:30] dsmilkov commented on #561
I'll be taking reverse, slice, pad and concat (already started work). Thanks!

[2018-02-19 04:28] cabreraalex opened #753 "MobileNet not on NPM"
The `deeplearn-mobilenet` NPM package is currently not available, not sure if this would be easy to fix/add again!

[2018-02-19 12:45] QuantumInformation opened #754 "Typescript errors for example ml_beginners"
I'm trying one of your examples:
https://github.com/PAIR-code/deeplearnjs/blob/master/docs/tutorials/ml_beginners.md

snadbox here:

https://github.com/QuantumInformation/deeplearnjs-playground/blob/master/src/index.ts#L91

However I am getting some typescript errors like:
[code]

is the example out of date with the 0.5 api?

[2018-02-19 14:41] dsmilkov commented on #754
That example is written in es6, and lacks any typescript annotations. If you want to port it to TypeScript, you'll have to annotate the types.

The error in question can be resolved by marking the result of the function `f` passed to `optimizer.minimize` as dl.`Scalar`. That is:

[code]

You might want into other issues as well, mostly asking you to type tensors as specific rank. Let me know how i

[2018-02-19 14:47] dsmilkov opened #756 "Clarify that ML beginners tutorial is in es6"
To avoid user confusion (see #754), would be nice to clarify that tutorials (e.g. [ML Beginners](https://deeplearnjs.org/docs/tutorials/ml_beginners.html)) are written in es6, and TypeScript users need to add types. Even better might be, in the tutorial, next to every es6 snippet, to have a link to the equivalent TypeScript snippet (same code).

[2018-02-19 14:49] dsmilkov commented on #751
If we introduce `dl.browser.*`, should we move dl.nextFrame() to `dl.browser.nextFrame()` for consistency?

[2018-02-19 14:59] dsmilkov commented on #750
Also we moved the tutorial [Training for ML Beginners](https://deeplearnjs.org/docs/tutorials/ml_beginners.html) to JavaScript (ES6).

[2018-02-19 15:00] dsmilkov commented on #628
Fixed in #690

[2018-02-19 15:00] #628 closed

[2018-02-19 15:07] dsmilkov commented on #611
Duplicate of #751

[2018-02-19 15:07] #611 closed

[2018-02-19 15:11] dsmilkov commented on #113
Hi,

We [released 0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0) and we are deprecating the graph API in favor of the new eager API which does support broadcasting.

Closing this issue accordingly. Feel free to open another issue regarding the eager API if you have any problems with broadcasting.

Thanks!

[2018-02-19 15:11] #113 closed

[2018-02-19 15:14] dsmilkov commented on #187
Hi,

We [released 0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0) with new eager API which does auto-grad style differentiation. Hope you like it!

[2018-02-19 15:14] #187 closed

[2018-02-19 15:16] dsmilkov commented on #58
Closing this thread, since we already have 7 optimizers with the [0.5.0 release](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0). See docs [here](https://deeplearnjs.org/docs/api/index.html#Training-Optimizers).

[2018-02-19 15:16] #58 closed

[2018-02-19 15:17] dsmilkov commented on #81
@nsthorat, is this issue still relevant?

[2018-02-19 15:17] #193 closed

[2018-02-19 15:19] dsmilkov commented on #223
Hi,

With the [release of 0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0) we are deprecating the graph API, in favor of the eager API. Feel free to reopen another issue for any op that is missing in the new API. Doc reference [here](https://deeplearnjs.org/docs/api/index.html).

[2018-02-19 15:19] #223 closed

[2018-02-19 15:21] dsmilkov commented on #235
Closing since this is obsolete since the 0.5.0 release (graph is deprecated and we have gradients for concat)

[2018-02-19 15:21] #235 closed

[2018-02-19 15:21] erikwilson commented on #637
After playing with this some more it turns out that I am extracting the values from 0.5 incorrectly.

I have a block of code like this:
[code]

For constants I try to extract the values, it looks like Array*D.new & Scalar.new return Tensor types now so I end up returning the id without values. There is probably a better to do this, not worried about fixing it at the moment but for the sake of tran

[2018-02-19 15:25] dsmilkov commented on #410
With 0.5.0 out, we deprecated the graph api, which includes GraphLayers. We decided to not have higher level operations as part of the core dl.js library.

[2018-02-19 15:25] #410 closed

[2018-02-19 15:29] dsmilkov commented on #475
@cwhy did you manage to resolve the issue?

FYI, with the [release of 0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0) we are deprecating the graph API in favor of the eager API, which is more suited to faster development and rapid prototyping, and easier debugging.

[2018-02-19 15:35] dsmilkov commented on #551
Hi,

With the [release of 0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0), we are deprecating the Graph API, in favor of the eager API, which allows for much easier development and debugging. In eager mode, training consists of simply wrapping your computation (like `dl.floor`) in `optimizer.minimize()` call. See [this example](https://deeplearnjs.org/docs/api/index.html#dl.tr

[2018-02-19 15:35] #551 closed

[2018-02-19 15:37] dsmilkov commented on #545
Hi,

With the [release of 0.5.0](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0), we are deprecating the Graph API, in favor of the eager API, which allows for much easier development and debugging. 0.5.0 also has `dl.transpose` ([docs here](https://deeplearnjs.org/docs/api/index.html#dl.transpose)).

In eager mode, training consists of simply wrapping your computation (like `dl.floo

[2018-02-19 15:37] #545 closed

[2018-02-19 16:07] dsmilkov commented on #19
Closing since our demos are already enabled on iOS devices.

[2018-02-19 16:07] #19 closed

[2018-02-19 16:10] dsmilkov commented on #39
Closing since we support the 3 major browsers (Chrome, Firefox, Safari) and the 2 major devices (Android, iOS)

[2018-02-19 16:10] #39 closed

[2018-02-19 16:11] dsmilkov commented on #43
This was fixed around 0.4.0. Closing.

[2018-02-19 16:11] #43 closed

[2018-02-19 16:13] dsmilkov commented on #48
We've also updated our [development section](https://github.com/PAIR-code/deeplearnjs/blob/master/README.md#development) in the README.md.

Closing this issue - feel free to reopen if you have any suggestions/feedback around the logistics of our setup of using labels in issues as "help wanted".

[2018-02-19 16:13] #48 closed

[2018-02-19 16:15] dsmilkov commented on #45
Closing this issue since we are no longer spoofing the user agent, but testing for browser features instead. Reopen if the issue is still there.

[2018-02-19 16:15] #45 closed

[2018-02-19 16:25] nsthorat commented on #81
Nope.

[2018-02-19 16:25] #81 closed

[2018-02-19 16:50] #409 closed

[2018-02-20 13:58] OliverLonghi opened #760 "syntax error at ml_beginners.html tutorial"
I´m trying to follow this [tutorial](https://deeplearnjs.org/docs/tutorials/ml_beginners.html) and I´m getting the following error.

I´m also using this [project](https://github.com/PAIR-code/deeplearnjs/tree/master/starter/typescript) with only one change: deeplearn version at package.json changed to 0.5.0

![image](https://user-images.githubusercontent.com/22771958/36427662-9267106a-162c-11e8-98

[2018-02-21 14:55] davidmfrey opened #765 "Precision comparison to Python version"
I have a model that I trained in Keras w/ tensorflow backend that I am trying to port over to deeplearn.js.  I believe I have the model properly implemented, but it seems there are precision errors that build up as the data goes through the network.  By the final layer, it is rather large, and is throwing off the predictions.  I am comparing the logits at each step with the logits of tensorflow ru

[2018-02-21 14:58] nsthorat commented on #765
Hi @davidmfrey,

Oh no, that's not good. What device are you using? We have precision issues on iOS / Safari right now which we're working on fixing (they don't support floating point textures so we do our own float packing).

Do you have a sense for where things start to diverge, or is it gradual?

Is there a test webpage you could put up that maybe shows the keras results / model, and has deeple

[2018-02-21 15:22] tafsiri commented on #756
kk. I can add a note that the examples are all JavaScript. I'm a bit wary of maintaining two sets of examples for both languages at the moment, though if we were to prioritize it maybe some kind of tabbed interface to choose languages. @dsmilkov Can a user initially fix all type issues with `any` annotations?

[2018-02-21 15:56] davidmfrey commented on #765
I am using Chrome on iOS.  From what I can tell (assuming Python is printing accurately), there are slight divergences after the first convolutional operation.  It gets gradually worse with each successive layer.  I can try to get the complete data set up somewhere for easy comparison.  The model is 2 LSTM layers which have 10 inputs of a 3 layer convolutional network.

[2018-02-21 15:59] nsthorat commented on #765
Can you console log "dl.ENV" after your program has run for a bit and then print the resulting object here?

[2018-02-21 18:24] ManrajGrover commented on #754
This has been fixed in #761. I believe we can close this.

[2018-02-21 18:30] ManrajGrover commented on #439
This looks resolved and can be closed.

[2018-02-21 19:21] davidmfrey commented on #765
@nsthorat  I'm not sure how much you want to see.
[code]

I also have the output of a JSON.stringify on it, but it's 2 MB.  I can email or share a link if it would help.

Also forgot to mention that I'm using
  <script src="https://cdn.jsdelivr.net/npm/deeplearn@latest"></script>
to load the script, so I'm up to date.

Thanks for your help

[2018-02-21 19:27] QuantumInformation commented on #754
Yes thx

Code here https://github.com/QuantumInformation/deeplearnjs-playground/tree/master/quadraticEq

[2018-02-21 19:27] #754 closed

[2018-02-21 19:39] davidmfrey commented on #765
Just another quick note, I tried with calling dl.setBackend('cpu') first and it's generating the same incorrect output. I'll try to store the output of some layers tomorrow for comparison.

[2018-02-21 19:43] nsthorat commented on #765
How are you doing the conversion from keras => deeplearn? Are you sure your paddings / all the arguments to conv2d line up? The shapes also line up? And making sure you're using the right conv2d (not depthwise, etc)?

[2018-02-21 19:44] nsthorat commented on #439
Docs are brand new and more manually curated! Hopefully this helps.

https://deeplearnjs.org/docs/api/

[2018-02-21 19:44] #439 closed

[2018-02-21 20:52] davidmfrey commented on #765
Good question... I've had to write them manually, especially the LSTM as Keras has activations applied.   Here's the deeplearn model.  I haven't moved it to the graph/session api yet. The weight and bias vectors all look identical in JS and Python.
[code]
And the Keras definition
[code]
I can post the LSTM as well, but the outputs of the CNNs are slightly different already.  It just gets more exag

[2018-02-21 22:03] abrad1212 opened #766 "Update Demos to Eager API"
Are the demos gonna be updated to the Eager API, specifically the Model Builder?

This could be extremely helpful when trying to learn how all the layers work.

[2018-02-22 05:39] dsmilkov commented on #742
Hi @ManrajGrover there will be a website redesign soon. cc @tafsiri who will be driving that effort.

[2018-02-22 14:26] nsthorat opened #768 "Add constraints to dl.variable."
To mimic TensorFlow:

https://www.tensorflow.org/api_docs/python/tf/Variable#constraint

[2018-02-22 15:14] tafsiri commented on #742
@ManrajGrover yep I'd probably hold off on this as the site's going to get redesigned and this will page will probably be rewritten.

[2018-02-22 16:36] davidmfrey commented on #765
@nsthorat  Apologies, I'm traveling this weekend.  It will probably be Monday or Tuesday before I can get any farther on this.

[2018-02-22 19:06] ManrajGrover opened #770 "Add various loss functions to the api"
Currently, the api only supports Softmax Cross Entropy. I feel we can other loss functions to the api. Listing them down here:

1. Absolute Difference
2. Cosine Distance
3. Hinge Loss
4. Huber Loss
5. Log Loss
6. Mean Pairwise Squared Error
7. Mean Squared Error
8. Sigmoid Cross Entropy Loss

I can work on these one by one.

[2018-02-22 20:21] cabreraalex commented on #753
Sounds good, thank you!

[2018-02-23 03:40] abrad1212 commented on #659
Couldn't you implement Dropout with everything in the current API?

Please see [Tensorflow's implementation](https://github.com/tensorflow/tensorflow/blob/r1.5/tensorflow/python/ops/nn_ops.py#L2135-L2196)

[2018-02-23 03:42] caisq commented on #659
@abrad212 thanks for the ping. I have this on my TODO list

[2018-02-23 03:44] abrad1212 commented on #659
@caisq No problem. Anything to help 😄

[2018-02-23 05:09] hpssjellis commented on #750
@bannazz

I don't hate Typescript but I really like JavaScript. I also would like more examples in both Typescript AND JavaScript, since deeplearnjs is supposed to be a JavaScript library.

I have some very basic examples at https://hpssjellis.github.io/deeplearnjs-javascript-examples/ which has links to a github and a few videos. I would really like to partner with someone who has a better unders

[2018-02-23 14:19] QuantumInformation opened #773 "[Community Idea] Kaggle alternative for Deeplearn/JavaScript"
The python folks are pretty lucky in that they have Kaggle. For example there are cool tutorials like so
https://www.kaggle.com/sohier/how-to-integrate-bigquery-pandas where they query data.

In that example they query a REST service and perform a whole bunch of cool stuff. It would be awesome if the js community had such a tool.

[2018-02-23 14:40] nsthorat commented on #750
@tafsiri examples going forward will all be es6, TypeScript will only be used for internal development. We expect to write many more tutorials in the coming month or two :)

[2018-02-23 15:15] tafsiri commented on #766
@abrad1212 as we have time we will be upgrading the demos to use eager. Especially since we intend to remove the graph api completely.

[2018-02-23 15:21] tafsiri commented on #766
will be tracked in #651

[2018-02-23 15:34] tafsiri commented on #610
@dsmilkov can this be closed since it is a dup of #664 which is closed?

[2018-02-23 15:48] abrad1212 commented on #766
@tafsiri Thanks for the info :).

I'm really having trouble getting a convolutional network built with the Eager API, are there any resources/tutorials you could recommend?

[2018-02-23 15:54] dsmilkov commented on #610
we already marked #664 as dup of this one, so let's keep this open

[2018-02-23 17:29] #766 closed

[2018-02-23 17:33] abrad1212 opened #774 "Convolutional Neural Network examples"
I'm really having trouble getting a convolutional network built with the Eager API, are there any resources/tutorials that anybody could recommend?

Would constructing a CNN be similar to [this TensorFlow](https://github.com/aymericdamien/TensorFlow-Examples/blob/master/examples/3_NeuralNetworks/convolutional_network.py) example?

[2018-02-23 17:40] abrad1212 commented on #659
@caisq I'm traveling today, and I think I have time over this weekend to try to implement DropOut. Hopefully, the implementation will be similar to the link I posted above, and translate easy. I'll let you know if I make any progress.

[2018-02-23 21:41] tafsiri commented on #774
@abrad1212 I just committed a change to https://github.com/PAIR-code/deeplearnjs/blob/master/demos/mnist_eager/model.ts that implements an mnist detector with a  convolutional network. Hope that helps show what a conv network looks like.

It's in typescript, to convert to typescript you would just remove the type annotations. But I will be working on posting a JS version of this and will update he

[2018-02-23 22:15] abrad1212 commented on #774
@tafsiri Thanks!

[2018-02-23 22:15] #774 closed

[2018-02-25 01:46] acostin1 commented on #659
Would love to test it, I think I need to use dropout layers because my model is over-fitting too fast.

[2018-02-25 04:39] hpssjellis opened #777 "If adding dl.browser.image Issue #751 why not add dl.browser.data like in the minst_eager model"
I noticed you want to add the core utility dl.browser.image at https://github.com/PAIR-code/deeplearnjs/issues/751

Would be great if you could also add an extendable class like what was used in the [mnsit_eager demo](https://github.com/PAIR-code/deeplearnjs/tree/42d1fe186a4b91edae2b14c3d9bb4785c862a3c4/demos/mnist_eager) the MnistData class code at
https://github.com/PAIR-code/deeplearnjs/blob/42

[2018-02-25 06:57] bannazz commented on #750
Hello again,
I'm very glad to read such promising replies as well as I am sorry for my late reply;
I have been ill and off-line for about a week.

@erikwilson

Your model saving (serializing) project is very useful; does deeplearn.js have a model saving feature built in yet?

if not, Any thoughts on how can I save the trained model in a neat way or have that feature implemented for the current ver

[2018-02-25 11:14] lab4quant opened #778 "Bignumber & Float64 support"
Hello,
[Float64Array](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Float64Array) is out in `ES2017`, will high accuracy big number be supported?

For now it would require 3rd party library to use big number, e.g. decimal.js, math.js etc

It would be great if `deeplearn` could support bignumber calculation, thanks!

[2018-02-25 15:28] linkerlin commented on #778
Float64 is slower;
int8 is better for most ANN.

[2018-02-25 15:42] nsthorat commented on #778
I don't think we'll use 64 bit floats at any point in the near future. WebGL only supports 32 bit floating point textures across the board, and we do very little CPU computation.

In terms of prioritization, working with reduced precision is actually higher on our list for memory / wall time concerns :)

[2018-02-25 15:54] nsthorat commented on #777
Hi @hpssjellis,

MnistData is going to get replaced with a dataset API that extends to many more datasets than what we have in MNIST Eager. All of the old dataset code is going to go away (XHRDataset, etc). The data.ts in mnist_eager was designed to potentially be used as the API to datasets, but it's not 100% clear yet.

Right now, we have the beginnings here (thanks @davidsoergel), but it is not

[2018-02-25 23:13] hpssjellis commented on #750
I will contact you @bannazz. We should probably make our own thread. Not sure what to call it. I want to know which ones of this list can be demonstrated in deeplearnjs now (and which in the future) and what is missing from the list (or should just be tossed from the list).

http://rocksetta.com/crowd-curriculum/default.php?playlist=9

Supervised Machine Learning, Regression Analysis, Classificati

[2018-02-26 02:01] lab4quant commented on #778
understood, thanks for the update!

[2018-02-26 02:01] #778 closed

[2018-02-26 02:25] hpssjellis opened #781 "Awesome new API, needs, search and link to older versions"
Really impressed with the new API. It is however missing 2 basic items

https://deeplearnjs.org/docs/api/index.html

1. A search text box, ctrl F works fine in the browser but most people would probably like a search entry area

2. A link to the old API for people still using NDArray's

P.S. The new RUN buttons are a nice touch. Looks like a lot of work went into the API

Just found out that the t

[2018-02-26 15:34] tafsiri commented on #781
Thanks for the comments @hpssjellis. In case you happen to need the docs for the old version right now you can see them at https://storage.googleapis.com/dljs-docs/api042/globals.html I'll look into getting a link somewhere more visible.

[2018-02-26 15:44] tafsiri commented on #781
And thanks for pointing out the typo in the minimum docs.

[2018-02-26 16:19] tafsiri opened #783 "consider having variable.dispose dispose the underlying tensor as well"
Consider `let foo = dl.variable(dl.randomNormal([layerInputSize, layerOutputSize], mean, stdDev)); `

Calling `foo.dispose()` and having it dispose the random normal tensor would be very convenient, and possibly reduce a common case of memory leak.

[2018-02-26 16:19] tafsiri commented on #783
ping @nsthorat @dsmilkov

[2018-02-26 20:48] davidmfrey commented on #765
@nsthorat, I retrained my model with a simple rnn implementation and it is now working correctly.  The problem must be in the LSTM implementation I copied from Keras.  Sorry for the confusion and thanks for your patience.

[2018-02-26 20:48] #765 closed

[2018-02-26 20:56] nsthorat commented on #765
No problem at all :)

[2018-02-26 21:31] nsthorat opened #787 "Export TensorBuffer."
We are not exporting TensorBuffer so TS users can't use the type.

[2018-02-27 01:44] hpssjellis commented on #781
Was very surprised that with version 0.5.0 my old code still worked. (I just finished a beginner video series about a week ago) the website is at https://hpssjellis.github.io/deeplearnjs-javascript-examples/    and all the examples that used version 0.4.2 still work with deeplearnjs version 0.5.0, but many classses are not in the API.  Is there a deprecation timeline?

P.S. @tafsiri Are you the ne

[2018-02-27 03:27] cwhy commented on #475
@dsmilkov
Sorry I was busy on other tasks and did not test it. Since the old API is deprecated, I will try the eager API instead.
Thanks!

[2018-02-27 16:47] dsmilkov commented on #781
I'm glad your old code worked! Backwards-compatibility for es6 users was the goal. There is a deprecation plan; see section "What’s deprecated" in the [0.5.0 release notes](https://github.com/PAIR-code/deeplearnjs/releases/tag/v0.5.0).

[2018-02-27 17:48] hpssjellis commented on #781
Thanks. Here are a few quotes from the 0.5.0 release notes relevant to this thread

I thought there was only going to be one new team member. Very happy to find out that there are 3.

[2018-02-27 20:04] tafsiri commented on #781
@hpssjellis Yep i'm one of the new ones! Very glad to hear that everything still worked with 0.5, we hope this version can provide a smooth transition point and allow people to update their code without major breakage.

Cool video series!

[2018-02-28 03:26] hpssjellis commented on #781
Thanks @tafsiri , I want to do a youtube video playlist for [Machine Learning](https://www.youtube.com/watch?v=7Vnn7hNk120&list=PL57Dnr1H_egukaDgFqwEnDVStd7Jktg1E) like what I have done for [Robotics ](https://www.youtube.com/watch?v=bOPonnhGOUg&list=PL57Dnr1H_egsL0r4RXPA4PY2yZhOJk5Nr)

It took a few years to classroom test the robotics stuff, may take a bit longer to learn and classroom test Mach

[2018-02-28 03:29] hpssjellis commented on #777
Looks good @nsthorat and @davidsoergel . This issue can be closed. Looking forward to testing it in pure Javascript.

[2018-02-28 03:29] #777 closed

[2018-02-28 03:29] #401 closed

[2018-02-28 03:31] hpssjellis commented on #333
I think this situation can be closed now

[2018-02-28 03:31] #333 closed

[2018-02-28 15:48] #753 closed

[2018-02-28 16:12] dsmilkov commented on #783
So we had it like that, but this caused problems and we decided that's very aggressive. We are fine with a single memory leak.

[code]

[2018-02-28 18:28] tafsiri commented on #783
So if we stay with current functionality should we change our examples to use that style? Our current examples tend to leak a tensor per variable per model initialization (which can happen multiple times in a session). We can also change the code snippet in our docs.

[2018-02-28 18:28] #781 closed

[2018-02-28 21:42] hpssjellis opened #797 "Community Site suggestion."
As Deeplearnjs moves towards version 1.0 is there a plan for a Community Page or Google Group to support the hundreds of users with varying levels of Javascript ability as they descend on this Github Site?

A well setup Community Site can shelter the Deeplearnjs team members from the FAQ questions of Noobs, or programming issues that are not the fault of Deeplearnjs.

When developing my [Robotics

[2018-02-28 21:48] nsthorat commented on #797
This is a phenomenal idea. If I have a question about "how do I do xyz in keras" I probably wouldn't file an issue there.

@tafsiri curious what your thoughts are on this :)

[2018-03-01 17:32] lisajamhoury opened #800 "Using OpenPose model in deeplearn"
Hi There, I'm working with the ml5 team at ITP and we have recently been looking into [OpenPose ](https://github.com/CMU-Perceptual-Computing-Lab/openpose) for real-time body detection in the browser. The trained model is a caffe model of about 200mb. Is it possible to pull this into deeplearn? Thanks!

[2018-03-01 18:28] dsmilkov commented on #783
That's a good idea. A bit of good news is that higher-level APIs will hide this detail

[2018-03-01 20:13] nsthorat commented on #770
Adding @caisq

[2018-03-01 20:26] nsthorat opened #801 "Add dl.randomShuffle."
This would mirror:
https://www.tensorflow.org/api_docs/python/tf/random_shuffle

[2018-03-02 00:38] tafsiri commented on #797
@hpssjellis @nsthorat this is definitely something we are thinking about. No firm plans yet, but I imagine a possible first step for us might be to direct people to StackOverflow and keep track of that a bit better. And possibly start a mailing list/google group. Its definitely on our radar as the library matures and becomes more accessible.

[2018-03-02 03:26] hpssjellis commented on #797
@nsthorate @tafsiri.  Already a small bit of Deeplearnjs action on Stackoverflow at [https://stackoverflow.com/search?q=deeplearnjs](https://stackoverflow.com/search?q=deeplearnjs) . That works for the programming issues, not the best for "how do I do xyz in keras", perhaps a Google Group would be best for theoretical discussions. Not sure how you would direct people to those platforms.

[2018-03-02 03:43] rilut opened #802 "How to do Global Average Pooling and other global poolings?"
How to do this? Is there something like `dl.mean(x, axis=1)`? how about its gradient?

Thanks

[2018-03-02 05:11] #802 closed

[2018-03-02 14:34] QuantumInformation commented on #407
Good work on official integration google!

[2018-03-02 14:55] nsthorat commented on #802
Looks like you found it :)

[2018-03-02 15:03] tafsiri commented on #800
Hi @lisajamhoury, we don't have explicit support for loading or importing Caffe models, so you would likely have to reimplement the model architecture, and then import the weights manually.

We are broadly interested in making it easier to import existing models so future releases may make this easier, but for now it would need something like what I described above.

[2018-03-02 16:31] kwhitley commented on #677
Hey @talvasconcelos I'm in the same boat as you - and if no one else makes a high level API/wrapper on deeplearn.js, I will... I too think the API to synaptic and neataptic are amazing, but the performance lacks.  Bringing those two worlds together would be a huge leap forward for ML in the browser/Node!

[2018-03-02 16:38] talvasconcelos commented on #677
Oh man, if you get it up and running it would be amazing!! I'm trying to train on 50k plus lines of data with 12 inputs and my pc is about to stand up and run out the door!!

[2018-03-02 16:55] kwhitley commented on #677
Totally feel the pain... those libs appear to have (for the most part) been beautifully designed, but it's not even using efficient structures for *javascript*, much less compared to vectorized implementations in Python, some JS libs, etc.

I will say, if you're not too concerned with overfit or getting caught in local minimums, the neataptic NEAT implementation is remarkably fast to evolve great

[2018-03-02 17:05] talvasconcelos commented on #677
I'm a ML noob, that's why i stayed away from it, but i'll give it another
look. At the moment im using the evolve from Neataptic that performs ...
well, faster than the training at least!

On Fri, Mar 2, 2018 at 4:56 PM Kevin R. Whitley <notifications@github.com>
wrote:

[2018-03-02 17:23] kwhitley commented on #677
It's definitely fun to "grow" agents and watch them get better at whatever task you're trying to fit them on (in my case, they learn day-trading strategies)... but as I mentioned, they can get caught in local minimums.  For example, if they discover one path that nets them a higher score, they charge down that path alone, without exploring all options.  Novelty Search would be a way to explore mor

[2018-03-02 17:34] talvasconcelos commented on #677
I'm also trying trading analysis... :)
Can we a chat? I'll send you an email..

On Fri, Mar 2, 2018 at 5:23 PM Kevin R. Whitley <notifications@github.com>
wrote:

[2018-03-02 18:11] kwhitley commented on #677
Totally @talvasconcelos  - hit me up at krwhitley@gmail.com!  Would definitely help to collab with others on this!

[2018-03-02 18:57] kwhitley commented on #677
@tafsiri I definitely second this - and training examples in JS would be marvelous.  If I can even see how it's formed, I can implement a high-level wrapper (if the ML5 guys don't beat me to it)

👍

[2018-03-02 20:34] tafsiri commented on #677
Just to update this thread, with the addition of [slice](https://deeplearnjs.org/docs/api/index.html#dl.slice) in 0.5 it should be possible to implement an LSTM in deeplearn.js. You'd need a reference to the architecture you are implementing (and know how to translate it to the lower level ops deeplearn.js provides).

[2018-03-03 13:16] QuantumInformation opened #808 "Dynamic module imports of deeplearnjs"
Tsc allows dynamic imports https://blog.mariusschulz.com/2018/01/14/typescript-2-4-dynamic-import-expressions

I'd like to be able to run some code without compiling deeplearnjs into my builds, is there any way we could do something like this?

tensors.ts
[code]
[code]
So with a minimal tsc run on the ts file about we could run examples in the browser just importing the deeplearn that they need? O

[2018-03-05 04:22] rilut opened #811 "ReferenceError: name is not defined"
[code]
I can to do the prediction. But if I run the training with`$ ts-node main`, it will throw errors like this:

[code]

If I add `console.log()` on the operation.js, it will show this:

[code]

[2018-03-05 15:35] tafsiri opened #813 "Implement gradient for dl.gather"

[2018-03-05 16:08] tafsiri commented on #811
Hi @rilut, we currently haven't spent much time trying deeplearn.js in node environments, we primarily target browser environments so you might have an easier time running this in the browser than in ts-node. I would suggest looking into the [starter project for typescript](https://github.com/PAIR-code/deeplearnjs/tree/master/starter/typescript) or something similar to get up an running with that.

[2018-03-05 16:15] tafsiri commented on #808
Hi @QuantumInformation, we haven't built any projects with dynamic import so i can't comment on this directly. But I'd say it really depends on how you bundle/serve the project you are working on. If you are targetting a browser that supports dynamic import then tsc transpilation might be enough. Else you'd have to use some kind of bundler to turn that import into something the browser can run.

W

[2018-03-05 16:18] QuantumInformation commented on #808
ATM I'm just using webpack. I think internally it does tree shaking.

[2018-03-05 16:20] tafsiri commented on #808
Is your goal to produce a bundle where deeplearn.js is not included?

[2018-03-05 20:01] #728 closed

[2018-03-06 03:13] dsmilkov commented on #811
Thanks @rilut for filling this. We are about to release 0.5.1 where we improved the error message. I ran your example in the browser with deeplearn@HEAD and got: `Cannot compute gradient: gradient function not found for gather.` We have a separate issue #813 to add gradients for `gather`

[2018-03-06 07:48] hpssjellis opened #816 "locToIndex and indexToLoc missing from API"
This seems to work, but not in API.

`console.log(dl.tensor([1.1,2.2,3.3,4.4],[2,2]).indexToLoc(3))
console.log(dl.tensor([1.1,2.2,3.3,4.4],[2,2]).locToIndex([1,1]))`

[2018-03-07 22:35] hpssjellis opened #822 "Possible bug in Version 0.5.1 .print not working for Tensor Class"
Possible bug in Version 0.5.1 dl.print not working for Tensor Class but works fine for the dl.tensor helper method

Run this code in a browser with the console open (ctrl-shift-I)
The alert just proves the Tensor was created.

[code]

[2018-03-09 06:22] paulu opened #832 "Tensor.gather is incorrect when axis != 0"
I've verified this in 1.5.0, 1.5.1 and 1.6.0-alpha2. This is my TypeScript test case:
[code]

My result:

[code]

dl.gather correctly gathers from the i-th axis. Tensor.gather does not.

[2018-03-09 07:34] up-to-you opened #833 "Separated clean documentation for model-builder."
Can you please provide separated doc based on model-builder example ? I think it will cover enough cases  , that will help to start for beginners. Or if you have some videos / books on another resources, please, provide links. Current state of documentation is not enough for comfortable start with your awesome framework.

[2018-03-09 07:48] hpssjellis commented on #833
I have heard more examples are coming in the next few months. I have a beginners page of examples in Javascript with some videos, including a fully Javascript simplified version of the model builder called **jj07-mnist.html**. I agree that the more documentation and examples the better. I would really like to see examples of every main machine learning algorithm demonstrated using deeplearnjs.

[h

[2018-03-09 08:08] PABCSoft opened #834 "Формат файлов checkpoint"
В каком формате хранятся файлы обученной сети? Как можно загрузить веса из файлов checkpoint в программе на C/C++/C#?

[2018-03-09 09:13] up-to-you commented on #833
@hpssjellis OMG, its awesome !!! This is a light at the end of the tunnel !!! I highly appreciate your work, thanks!

[2018-03-09 13:15] QuantumInformation commented on #98
@nsthorat when can we use NDArrayMath.enableDebugMode? I don't see it in the NDArrayMath in math.ts

[2018-03-09 13:27] QuantumInformation commented on #797
Yup theres a discord channel and a London meetup

https://www.meetup.com/London-DeepLearn-js-Meetup/
https://discord.gg/64MVzQX

[2018-03-09 14:59] dsmilkov commented on #816
Hi @hpssjellis

Curious in what scenarios you need these methods? They are not documented and we removed them in `0.6.0-alpha` (pre-release).

We moved those methods to the [`TensorBuffer`](https://deeplearnjs.org/docs/api/index.html#class:dl.TensorBuffer) class (we will add documentation for them). See [`dl.buffer()`](https://deeplearnjs.org/docs/api/index.html#dl.buffer) for creating new buffers

[2018-03-09 15:04] nsthorat commented on #98
Hi Nikos,

Things changed a little bit. You can enable debug mode two ways right now (we'll add a better top level method soon).

[code]

Or alternatively via the URL:

&dljsflags=DEBUG:true

[2018-03-09 15:14] dsmilkov commented on #822
Hi @hpssjellis ,

The constructor of Tensor is meant to be private (in typescript, the compiler won't let you use it). In our documentation for [`Tensor`](https://deeplearnjs.org/docs/api/index.html#class:dl.Tensor) we are referring the user to use `dl.tensor()` for tensor creation.

The reason print is not working is because the private Tensor constructor expects TypedArray as values, instead of

[2018-03-09 15:15] #822 closed

[2018-03-09 15:23] dsmilkov commented on #832
Thanks @paulu for the report. Highly appreciate it. Fix is on the way

[2018-03-09 15:32] #832 closed

[2018-03-09 15:44] tafsiri commented on #833
Yep we are definitely working on some new examples and docs. Stay tuned!

[2018-03-09 15:46] #811 closed

[2018-03-09 16:58] hpssjellis commented on #834
Gotta love [Google Translate](https://translate.google.ca/):

Here is @PABCSoft question translated

In what format are the files of the trained network stored? How can I load weights from checkpoint files in a program in C / C ++ / C #?

Not sure if you want the reply in Russian.

Не уверен, хотите ли вы ответ на русском языке

[2018-03-09 17:37] hpssjellis commented on #833
I think there are about 1 million people who would love to be able to use Machine Learning, and Javascript is definitely the platform to learn it with. I can teach the Javascript, just a bit lacking in Machine Learning. The problem is that until Deeplearnjs becomes stable (version 1.0), spending hours and hours and hours on teaching it, using examples, is a bit of a waste of time as the examples g

[2018-03-09 17:40] QuantumInformation opened #836 "Type to use with the tidy function"
I'm trying the performance tutorial with typescript, any ideas how to fix:

TS2345: Argument of type '(keep: any) => void' is not assignable to parameter of type 'string | ScopeFn<void>'.
  Type '(keep: any) => void' is not assignable to type 'ScopeFn<void>'.

<img width="788" alt="screen shot 2018-03-09 at 16 02 58" src="https://user-images.githubusercontent.com/216566/37221160-dec414ac-23c0-11e8

[2018-03-09 18:28] PABCSoft commented on #834
Write in the language in which you will be comfortable. If only it was detailed and clear. I am interested to know about the file structure itself. I understood only that the data is stored in the Single type(Float32). How to read byte-by-byte file I do not understand. Particularly interested in Your example of Fast Neural Style Transfer. Unfortunately, I don't know Java, but I really want to impl

[2018-03-09 18:33] hpssjellis commented on #816
@dsmilkov

Mainly for html presentation of the data.

If you run my [htmlPrint](https://hpssjellis.github.io/deeplearnjs-javascript-examples/Unordered-javascript-examples/deeplearnjs-examples/htmlprint/htmlPrint.html) demo click the buttons and then  mouseOver the chart it gives the location of each element.

![indextoloc](https://user-images.githubusercontent.com/5605614/37221529-3257c592-237f-11

[2018-03-09 18:53] nsthorat commented on #836
Instead of using `keep` as the argument in tidy, you can call `dl.keep()` directly.

[2018-03-09 18:55] dsmilkov commented on #836
Yes, since 0.5.0 `dl.tidy()` takes a function with no arguments. that is
[code]

[2018-03-09 18:58] hpssjellis commented on #834
@PABCSoft

The Deeplearnjs guys may have a better answer, but Tensorflow Neural Style Transfer may be closer to C# .net than javascript.  Tensorflow can be written in C and may have more information about the file saving structure.

Lots of examples at:

https://github.com/titu1994/Neural-Style-Transfer

https://www.youtube.com/watch?v=LoePx3QC5Js

https://github.com/cysmith/neural-style-tf

[2018-03-09 19:13] hpssjellis commented on #822
But when I extend the Tensor class, how to I construct it using dl.tensor  ?

See demo at [https://hpssjellis.github.io/deeplearnjs-javascript-examples/active-work/basic02.html](https://hpssjellis.github.io/deeplearnjs-javascript-examples/active-work/basic02.html)

Here is my class definition:

[code]

[2018-03-09 20:00] Kjos opened #837 "GWT support"
I've just discovered this framework, and think it's an awesome endeavor :)
To get to the point, I like to do large Javascript projects with GWT and find it's an enormous timesaver and allows me to keep my code clean.
So I've started writing a GWT wrapper for deeplearnjs - haven't come that far yet, but it's a start.
_Any pointers that would make the work easier/better would be appreciated._
I'm th

[2018-03-09 20:41] hpssjellis opened #838 "How do I extend the Tensor class while using dl.tensor to initialize it?"
@dsmilkov Thanks for solving

**" Possible bug in Version 0.5.1 .print not working for Tensor Class [#822](https://github.com/PAIR-code/deeplearnjs/issues/822) "**

but it brings up another issue that I have:

When I extend the Tensor class, how do I construct it using dl.tensor  ?

See working demo at [https://hpssjellis.github.io/deeplearnjs-javascript-examples/active-work/basic02.html](https://

[2018-03-09 22:44] tafsiri commented on #838
I think you would effectively have to overwrite dl.tensor to call the constructor of your new class (but still correctly construct it). In the process that code would effectively become incompatible with the library though. I also say we generally avoid using `new` in the code we write that uses the library.

Generally I think I'd suggest just having a function that takes a tensor and does some op

[2018-03-09 23:15] hpssjellis commented on #838
Thanks @tafsiri . I will see what I can do. I understand your psuedocode and will try it out.

If anyone else has a working version feel free to add your code.

I hope extending a Tensor class does not break compatibility with Deeplearnjs.

[2018-03-10 05:13] hpssjellis commented on #838
@tafsiri

Your brilliant. That solved both issues. Here is a [demo ](https://hpssjellis.github.io/deeplearnjs-javascript-examples/active-work/basic03.html)

Here is the code:

[code]

Thank you very much for solving that so fast. I just had to add "async" and "await" to your psuedocode, and it does need "new" when making the class. Close this issue if you wish, but others may want to know how to s

[2018-03-10 05:37] PABCSoft commented on #834
Yes, but all examples use a network of 16 VGG and iterative method. And Your example on DeepLearnJS for very fast generation. He's using a network transformer. Apparently, You have not quite understood correctly, I'm trying to write a network ENTIRELY in C#. That is, convolutions, ReLU, all write from scratch on C#. Therefore, you must understand the structure in which the predefined styles are st

[2018-03-10 09:44] up-to-you opened #840 "Performance comparisons / tests"
Are there any performance comparisons/tests relatively to tensorflow / theano / deeplearning4j / Keras etc. ?

[2018-03-10 10:24] ToonTalk opened #841 "Unable to run KNN-image-classifier without an Internet connection"
While I can cache locally deeplearn.js and deeplearn-knn-image-classifier.js

I see the following in the console when running without an Internet connection. Is there a workaround?

deeplearn.js:3074 GET https://storage.googleapis.com/learnjs-data/checkpoint_zoo/squeezenet1_1/manifest.json net::ERR_INTERNET_DISCONNECTED
(anonymous) @ deeplearn.js:3074
CheckpointLoader.loadManifest @ deeplearn.js:3

[2018-03-10 10:44] QuantumInformation commented on #836
Thx for clarification

[2018-03-10 10:44] #836 closed

[2018-03-10 10:57] QuantumInformation commented on #837
AFAIK deeplearnjs is standalone, but the API is soon to be quite like tensorflow in v 1.

[2018-03-10 11:39] QuantumInformation commented on #649
There is still a js file in the demos/Complementary Colors

[2018-03-10 11:41] QuantumInformation commented on #649
What was the reason again for moving away from graph mode?

[2018-03-10 12:15] QuantumInformation commented on #33
I wouldn't worry about too much the react vs polymer vs X, the debate never ends.

[2018-03-10 14:48] nsthorat commented on #649
A few reasons, from user feedback we learned that Graph mode was confusing (a second API to learn), it doesn't provide advantages that it does in TensorFlow (graph optimizations), and eager mode is much much easier to debug (stack traces are sane, and not in graph execution code).

[2018-03-10 14:55] nsthorat commented on #840
We have some benchmarks here: https://deeplearnjs.org/demos/benchmarks/

Soon we will do a comparison to other non-web frameworks.

[2018-03-10 14:57] nsthorat commented on #841
Hi @ToonTalk,

What you could do is download the weights of squeezenet1_1 to your local machine. When you have a network connection, download the files that get requested under squeezenet1_1 and the manifest.json to your local machine.

Unfortunately you'll have to do a little digging to modify the underlying SqueezeNet class that KNNImageClassifier uses and points to the bucket:
https://github.co

[2018-03-10 15:03] QuantumInformation commented on #840
Nice work

On Sat, 10 Mar 2018 at 14:55, Nikhil Thorat <notifications@github.com>
wrote:

--

Kind regards

Nikos
quantumjs.com

[2018-03-11 01:30] tafsiri commented on #838
Glad it worked @hpssjellis. A couple of more suggestions depending on where you want to take this.

1. You could remove the `extends dl.Tensor` on your class with no ill effect. The return value from the constructor is a tensor anyway and will work as you expect, so it would look like

[code]

2. You could skip the overhead of a class and a `new` operator all together by turning the constructor in

[2018-03-11 05:52] ToonTalk commented on #841
Thanks. Working now.

If anyone else tries this I found that using Chrome Dev Tools to save all as curl commands and then edit appropriately made creating all the local files pretty painless.

[2018-03-11 16:19] oveddan opened #845 "feature request: toPixels"
Right now deeplearn.js has a method [fromPixels](https://deeplearnjs.org/docs/api/index.html#dl.fromPixels) which takes an `ImageData` and converts it into a `Tensor3D`.

It would be nice to have something that does the inverse, like `toPixels` - which would take a 2d or 3d tensor and convert it to an `ImageData`

[2018-03-12 04:56] hpssjellis opened #846 "xOR Simple Example Neural Network"
Can someone, preferably @tafsiri, write some pseudocode for an xOR solving neural network. Nothing fancy, just the basics:

Example:

[0,0]   =  0
[1,0]  =   1
[0,1]   = 1
[1,1]  =  0

It should be a small 3 layer network of: 2 inputs neurons, 3 hidden neurons and 1 output neuron. After the tensors are setup, it needs a train function (In the code below called propagate and a test function in the

[2018-03-12 05:07] ManrajGrover commented on #846
Hi Jeremy, did you have a look at #804? I believe it solves this issue.

[2018-03-12 06:03] hpssjellis commented on #846
@ManrajGrover

Wow that is awesome, and I did not see it. Actually was not even looking for it.

This page is perfect

[https://github.com/ManrajGrover/deeplearnjs/blob/xor-eager/demos/xor-eager/learn-xor.ts](https://github.com/ManrajGrover/deeplearnjs/blob/xor-eager/demos/xor-eager/learn-xor.ts)

[2018-03-12 06:05] hpssjellis commented on #838
Thanks @tafsiri I put all 3 working versions in a github folder

[https://github.com/hpssjellis/deeplearnjs-javascript-examples/tree/78d51924c0a9f9ce8292bb5a2ae6fd3a59224a04/Unordered-javascript-examples/deeplearnjs-examples/class-extend](https://github.com/hpssjellis/deeplearnjs-javascript-examples/tree/78d51924c0a9f9ce8292bb5a2ae6fd3a59224a04/Unordered-javascript-examples/deeplearnjs-examples/cl

[2018-03-12 06:05] #838 closed

[2018-03-12 17:39] oveddan opened #847 "when doing division with int32 tensors, a float tensor is returned."
Here is a test that demonstrates the issue:

[code]

the test fails with:

[2018-03-12 21:55] MariasStory commented on #496
Hi, sorry to come back to this issue, but I have additional results from the system:
Using https://deeplearnjs.org/demos/benchmarks/
batchnorm3d_gpu is mostly 0.100ms and in one case 0.000ms
mulmat_gpu s mostly 0.100ms, 4 times 0.000ms and in one case 0.200ms
CPU values seem to be normal. I guess it is because of the optimized "olaf" drivers or the forced GPU rendering in Chrome. Any way, this exa

[2018-03-13 00:00] nsthorat opened #848 "WEBGL_get_buffer_sub_data_async is not working properly."
Right now by default the extension is turned on and I'm getting:

[code]

I'm going to turn this off until we have a fix.

[2018-03-13 03:33] dsmilkov commented on #848
I updated Chrome and enabled webgl draft extensions. Async sub buffer is enabled (see screenshot)
but the imagenet demo on deeplearnjs.org is still working nicely. Can you share more details like the code and the stacktrace.
<img width="1097" alt="screen shot 2018-03-12 at 11 28 21 pm" src="https://user-images.githubusercontent.com/2294279/37321190-b95cb630-264d-11e8-965e-bbe576bdbd29.png">

[2018-03-13 06:07] hpssjellis commented on #846
Thanks @ManrajGrover I got my javascript xOR webpage  working. The github is [here](https://github.com/hpssjellis/deeplearnjs-javascript-examples/tree/a5713442aec78f7aa3598018144b5339d700fa54/Unordered-javascript-examples/deeplearnjs-examples/xor-neural-network), code  [here](https://github.com/hpssjellis/deeplearnjs-javascript-examples/blob/a5713442aec78f7aa3598018144b5339d700fa54/Unordered-javas

[2018-03-13 09:16] ManrajGrover commented on #846
Hi @hpssjellis,

It is to prevent `log` to tend to -infinity.

It is just a constant which is being used in multiple places. Hence, defined it once. It is not related to output neuron.

`0.1` is the learning rate I used for this problem. Since it is a hyperparameter, you can tune it and see the effects. I found `0.1` to work for this problem. You can use different optimizers and see their effects.

[2018-03-13 11:46] ZahraMousavi opened #850 "code for complementary colors"

[2018-03-13 11:47] ZahraMousavi commented on #850
Hi. I am following the tutorial for complementary-color-predictions in https://deeplearnjs.org/demos/complementary-color-prediction/complementary_color_prediction.html, but I cannot find the code in the repository. I was wondering if anyone can help?

[2018-03-13 12:37] ManrajGrover commented on #850
Hi @ZahraMousavi,

Currently, demos are in process of being migrated to eager mode since Graph API is deprecated and now removed from the library for next major release. If you wish to see the code in eager mode, you can checkout #803 which implements the same. You can always visit the history and see the [code](https://github.com/PAIR-code/deeplearnjs/tree/d097071614a876c226c8ce1ddeb955bf530ce64f

[2018-03-13 14:18] nsthorat commented on #848
I will share more details in a bit, you'll have to trust me on this one for a little bit :)

[2018-03-13 15:09] ZahraMousavi commented on #850
Thanks for your help:-)

[2018-03-13 16:13] hpssjellis commented on #846
Thanks @ManrajGrover did not know you were the original maker of the code. I really appreciate the help. Learnt more from your replies than tons of googling about Machine Learning.

D: `Math.sqrt(2.0 / prevLayerSize))` Why? I realize they need to be initialized but why this equation?

From your[ link](http://cs231n.github.io/neural-networks-2/#init) I found this answer for D:

[2018-03-13 22:43] pyu10055 opened #851 "Add tf.strided_slice op"
I have noticed many estimators are generating this op.
https://www.tensorflow.org/versions/master/api_docs/python/tf/strided_slice

[2018-03-14 10:08] duanhai commented on #674
@nkreeger Hello.Any updates about loading a saved frozen model(*.pb ) .Thx.

[2018-03-14 18:00] hpssjellis commented on #841
My issue is different from @ToonTalk .  My version is ES6 (ish) and is online, it loads the SqueezeNet but does not seem to use the SqueezeNet information. It just compares (correctly) the unknown to the 2 webpage images. Is that what it is supposed to do? If so why load SqueezeNet?

[Github site with demo at](https://github.com/hpssjellis/deeplearnjs-javascript-examples/tree/master/Unordered-java

[2018-03-14 20:35] adarob commented on #721
Why can't this be left in since it works with softmax? This breaks MusicVAE, PerformanceRNN, etc.

[2018-03-14 20:51] kwhitley commented on #659
Agreed re. all... definitely need dropout implementation stat.  The basic models without dropout, regularization, noise, etc overfit like a champ.

😞

[2018-03-14 20:52] nsthorat commented on #659
Coming soon, I promise!

[2018-03-14 21:06] dsmilkov commented on #721
In deeplearn@next you can use either, so this bug is fixed.

You can pass logits:
[code]
or probabilities:

[code]

[2018-03-14 21:06] #721 closed

[2018-03-14 22:09] #846 closed

[2018-03-15 01:58] HalfdanJ opened #854 "Devtool / visualizer"
Would be great with some devtool / visualizer / debug tool. Could be interfaced with an api like this:

[code]

[2018-03-15 19:43] pankajvishwani commented on #850
@ManrajGrover, I think "if" statement should be removed from line#123 otherwise train1Batch function will only be called if shouldFetchCost is set to true.

[2018-03-15 19:47] #816 closed

[2018-03-16 08:39] physicsrob opened #855 "Convert keras models to deeplearnjs"
My apologies if this is not the most ideal means of communicating, but I wanted to let the deeplearnjs community know about a project I've started.  I'm interested in potentially deploying models developed and trained in keras to deeplearn.js (as well as other platforms), so I've written a conversion tool: https://github.com/gradecam/keras_to_deeplearnjs. This is hot off the presses so still very

[2018-03-17 06:07] cyilu opened #857 "Why the code of model builder is lost?"
Thanks.

[2018-03-17 06:52] ManrajGrover commented on #850
@pankajvishwani I think you're right. Please feel free to leave the comment in that PR (#803)

[2018-03-17 06:53] PABCSoft commented on #834
You don't seem to know how this works.

[2018-03-17 06:55] ManrajGrover commented on #846
@hpssjellis You should follow deeplearnjs twitter channel where you can find various demos being shared.

[2018-03-17 15:21] nsthorat commented on #857
Hi @cyilu, we've deleted Graph code in our library so we're working on updating it to avoid using the Graph API, but didn't want to block the deletion of old code.

We will be bringing it back soon!

[2018-03-17 20:47] jgartman commented on #801
Looks like Tensorflow only has a CPU version of random_shuffle.  Is it safe to assume we'd want both a CPU and WebGL implementation here?

[2018-03-18 03:04] hpssjellis opened #862 "Use Iris data for KNN, Logistic Regression, Naive Bayes, SVM, CART and others?"
I would like to make something like this [scikit-learn tutorial](https://machinelearningmastery.com/get-your-hands-dirty-with-scikit-learn-now/), but with Deeplearnjs and the [Iris CSV](https://gist.github.com/netj/8836201)

I think I have a working algorithm for K-Nearest Neighbor

[code]

The KNN demo is not finished but in progress  [here](https://github.com/hpssjellis/deeplearnjs-javascript-ex

[2018-03-18 05:08] cyilu opened #863 "How to run the demo in the folder named "demos"?"
The starter demo has a  file named "README", but the "demos" folder don't.  I'm hard to run the demo in "demos". I think the "starter" demo and the "demos" demo is different.

[2018-03-18 05:10] cyilu commented on #857
OK, I know. Thank you.

[2018-03-18 07:10] kimamula commented on #855
I have a similar requirement though importing only weights is OK in my current project.

Therefore I have implemented `KerasModelDumper` which extends `CheckpointDumper`.

https://github.com/kimamula/deeplearnjs/commit/5d1eea652833a63f027400cf9c3c40a2079caabd

I would like a feature like at least either of @physicsrob's tool or my `KerasModelDumper` to be officially provided by deeplearn.js.

[2018-03-18 07:21] kimamula opened #864 "CheckpointLoader that works in Node.js environment"
`CheckpointLoader` only works in browser environment but I want to use it in Node.js environment.

Actually, I have already implemented it as follows and if this is acceptable I would like to make a PR.

[code]

[2018-03-18 15:05] nsthorat commented on #855
Thanks for all the hard work everyone, this is really fantastic.

We're working on some model porting scripts ourselves, maybe once we release them in a few weeks we can see where there they are similar and dissimilar and try to merge efforts?

We checked in the first part of it which shards weights files so they get cached in the browser as part 1. You can find that python [here](https://github.c

[2018-03-18 18:52] riatzukiza opened #865 "no data found for this tensor"
# Error
I was struggling with a memory leak, then I fix the leak, and I start getting this error.
[code]
# Code
I am rendering data to a canvas, so I have to call data every frame.
## deeplearn logic
Logic to the implementation of conways game of life.
[code]

## rendering

Then I itterate over every element of `tensor.data()`, the error points at

[code]
[code]

[2018-03-18 19:01] riatzukiza commented on #865
The program still renders the sim, one would not know anything was happening if they did not open the debug tools

[2018-03-18 22:09] seranus opened #866 "best way to write a bias_add operation?"
I don't see bias_add in the documentation and adding higher shape with a 1d tensor doesn't work,

What's the best way to do the operation?

[2018-03-18 22:28] riatzukiza opened #867 "numBytes is negative"
The value of `numBytes` as recieved from `dl.memory()` is a negative value and appears to constantly be going down.

[code]

[2018-03-19 02:36] physicsrob commented on #855
Thanks for pointing towards write_weights.  I think I'm going to refactor my project to use that for saving weights.  In addition now that I've written it once I think I have some ideas to refactor it to be more reusable hopefully outside the context of keras.

I'm excited to see the official tensorflow conversion script.  It's entirely possible it'll solve my use case entirely.  We'll see. :)

[2018-03-19 04:50] physicsrob commented on #855
One thought:  If deeplearnjs had a mechanism for building a model from a JSON model description then any model converter (or builder) could just target that JSON model description format.  That seems like something that might be very worthwhile to include.  If the tensorflow converter targeted that JSON format it would have a nice side effect of producing a good separation of concerns.  If it stil

[2018-03-19 08:03] jiangts commented on #637
perhaps a bit of a weird question, but would this make it easy to port from deeplearnjs -> tensorflow?

[2018-03-19 08:27] cyilu opened #869 "Why chrome's console reports an error "Uncaught TypeError: dl.tensor1d is not a function"?"
I am trying the basic code:
`
import * as dl from 'deeplearn'; // If not loading the script as a global

const a = dl.tensor1d([1, 2, 3]);
const b = dl.scalar(2);

const result = a.add(b); // a is not modified, result is a new tensor
result.data().then(data => console.log(data)); // Float32Array([3, 4, 5]

// Alternatively you can use a blocking call to get the data.
// However this might slow you

[2018-03-19 09:19] ManrajGrover commented on #869
Hi @cyilu,

Please check if you've added the script tag for loading deeplearnjs. Please see https://github.com/PAIR-code/deeplearnjs#usage for the same.

[2018-03-19 09:26] cyilu commented on #869
Yes I have had. If the code change to the starter code.
`import 'babel-polyfill';
import {Array1D, ENV, Scalar} from 'deeplearn';

/** Runs the example. */
async function runExample() {
  const math = ENV.math;
  const a = Array1D.new([1, 2, 3]);
  const b = Scalar.new(2);

  const result = math.add(a, b);

  // Option 1: With async/await.
  // Caveat: in non-Chrome browsers you need to put this i

[2018-03-19 09:40] ManrajGrover commented on #869
I would need more information here. Did you transpile the code to ES5 before running it in the browser or are you directly running the example shared

 If you're running it directly with script tag, you don't need to import the library ie. remove `import * as dl from 'deeplearn';`.

 If you're running it after transpiling the code, it will work as expected like in your second example.

Could you p

[2018-03-19 18:56] physicsrob commented on #866
dl.add(a,b) should be sufficient, unless I'm missing something?  dl.add supports broadcasting.
[code]

[2018-03-19 22:43] tafsiri commented on #867
@riatzukiza Would you be able to post any sample code that resulted in this behavior?

cc @dsmilkov

[2018-03-20 19:09] ManrajGrover opened #871 "Add bitwise operations"
Currently, the API does not support bitwise operations. The problem with adding support for these operations is WebGL 1.0 does not support them. We can add CPU methods but then we will only support CPU backend for these operations.

https://www.tensorflow.org/api_docs/python/tf/bitwise

[2018-03-20 20:41] riatzukiza commented on #867
[code]

[2018-03-21 00:38] physicsrob opened #872 "Debug mode doesn't appear to be working"
It appears that debug mode might not be working.  The easiest way to reproduce is load the imagenet example and run `dl.ENV.set('DEBUG',true)` in the console.  The debug timings that print out will all be less than a 1 ms (usually 0.1ms on chrome for me, 0ms in firefox).

[2018-03-21 00:56] physicsrob commented on #872
Actually I'm seeing similar behavior on the benchmarks demo.  The CPU benchmarks are giving sane timings, but the GPU benchmarks are all fraction of a ms or faster (usually 0ms).

[2018-03-21 16:52] tafsiri commented on #867
Thanks @riatzukiza we'll take a look.

[2018-03-21 17:45] reiinakano commented on #855
@physicsrob That sounds like https://github.com/onnx/onnx :)

[2018-03-21 18:03] physicsrob commented on #872
My platform has GL_EXT_timer_query disabled (Chrome on Linux).  It looks like before the timers were refactored the timing code worked without this extension, and now it's not timing the actual computation when the extension is unavailable.

[2018-03-21 18:54] nsthorat commented on #872
I will take a look at this (I am preparing for a talk next Friday so unfortunately it will take me until the first week of April).

We just did a refactor of timing / debug mode, and I think that broke the timing when that flag is disabled as you noticed.

[2018-03-21 20:29] #866 closed

[2018-03-21 21:34] #800 closed

[2018-03-22 00:38] Neuroforge opened #875 "Import Pb File from Tensorflow"
Hello,

I have a pb file from a TensorFlow model that i would like to try with DeepLearnjs.

I am having difficulty turning this pb file into a checkpoint file.

This is the issue.
https://github.com/ildoonet/tf-pose-estimation/issues/124

Is it possible to turn a pb file into a deeplearnjs model?

Kind regards,

Daniel

[2018-03-22 06:54] cyilu opened #877 "util.js:79 Uncaught (in promise) TypeError: Cannot read property 'length' of undefined"
My code is:
`let c=dl.tanh([0.2963064 , -0.4489866, 0.0725265 ,  0.1538655 , 0.363962  , -0.0452909,
          0.3438355 , -0.7197306, -0.0965203, 0.1176442 , 0.3955537 , -0.1697455,
          0.2924818 , -0.8240886, -0.107292 , -0.0213198, 0.5405946 , -0.0652936]);
 console.log(c);`

But console reports the error.

My first code is:
`let r_conv1 = dl.relu(conv2d(x_image, W_conv1) + b_conv1);`
,wh

[2018-03-22 12:33] cyilu opened #878 "Why dl.equal return [9,9,9,...,9,9,9,9]?"
The  tensor a is:
    [5, 1, 8, ..., 1, 1, 4]
The tensor b is:
    [0, 0, 0, ..., 0, 0, 0]
The dl.equal(a, b) return:
    [9, 9, 9, ..., 9, 9, 9]
I think what it should be is true of flase?

[2018-03-22 12:40] cyilu opened #879 "This training is useless"
There is my training code:
`

    function train(myData) {
       const returnCost = true;
       for (let i = 0; i < TRAIN_STEPS; i++) {
            dl.tidy(() => {
            const cost = optimizer.minimize(() => {

                const batch = myData.nextTrainBatch(BATCH_SIZE);
                let x_image = dl.reshape(batch.xs, [-1, 28, 28, 1]);
                let b = dl.add(conv2d(x_image,

[2018-03-22 12:49] galsasson commented on #17
Hi @nsthorat, nice to see this effort and thanks.
Just checking to see if there's any progress on this. I would like to add a custom VAE model into the framework, what is the best way right now?

[2018-03-22 13:43] dsmilkov commented on #879
Quick q: What is `myMath` referring to? Also can you share with us your full code/repo so we get better investigate?

[2018-03-22 13:52] tafsiri commented on #878
Hi @cyilu Would you be able to post a code snippet? I tried the following

[code]

and i get `Uint8Array(6) [0, 0, 0, 0, 0, 0]` as output.

If I change the last value in tensor b to a `4` then I get `Uint8Array(6) [0, 0, 0, 0, 0, 1]`. 0 represents false while 1 represents true.

Is it possible that your two tensors are not the same size? You could also try `dl.equalStrict` to make sure that they a

[2018-03-22 13:56] tafsiri commented on #877
Hi @cyilu You need to pass a tensor to `dl.tanh` instead of a regular array. See https://deeplearnjs.org/docs/api/index.html#dl.tanh for an example.

You could either call `dl.tanh(dl.tensor[...])` or `dl.tensor([...]).tanh()`

In your second example you probably need to use an `add` operator rather than `+`

[2018-03-22 23:45] riatzukiza opened #884 "add mod op?"
[code]

[2018-03-23 02:11] Neuroforge opened #885 "Importing Tensorflow Model - get_tensor_by_name"
Hello,

When using an imported Tensorflow model is there a set of comparable instructions?

For instance, if in Python with Tensorflow you use get_tensor_by_name to return a tensor.

Is there a comparable approach in deepleanjs once you've imported the model?

Regards,

Daniel

[2018-03-23 02:29] cyilu commented on #877
Thank you.

[2018-03-23 08:41] Fdom92 opened #886 "Not exported functions on index"
Hi, i was trying to use the cpnn art example to start using deeplearn but i'm getting some errors:

[code]

I'm using node v 6.11.0 and v 8.3.0 with same results
I'm using this starter [https://github.com/ionic-team/stencil-app-starter](https://github.com/ionic-team/stencil-app-starter)
And i'm using the latest version of the deeplearn npm package (0.5.1)

Thanks for this cool tool 👍

[2018-03-23 09:11] cyilu commented on #879
My full code is:
`
import * as dl from 'deeplearn';
const TRAIN_TEST_RATIO = 5 / 6;
const LEARNING_RATE = 0.2;
const BATCH_SIZE = 64;
const IMAGE_SIZE = 784;
const LABELS_SIZE = 10;
const TRAIN_STEPS = 100;

const myMath = dl.ENV.math;

function weight_variable(shape) {
    let init = dl.truncatedNormal(shape, 0, 0.1, "float32");
    return dl.variable(init);
}

function bias_variable(shape) {

[2018-03-23 14:29] dsmilkov commented on #879
Hi,

Two small finds:
- dl.softmaxCrossEntropy expects the pre-softmax *logits* as a 2nd argument, so you have to remove the `softmax` call in your predict function.
- Lower the learning rate to 0.01/0.03

This should help with the training.

[2018-03-23 14:32] tafsiri commented on #886
Hi @Fdom92 do you have a repository on GitHub i could take a look at? I don't know enough about that starter's build system to comment much further on what may be going on.

[2018-03-23 14:33] #877 closed

[2018-03-23 16:59] ManrajGrover commented on #884
Hi @riatzukiza,

Thanks for creating an issue for this. I've raised a PR (#887). You can follow the progress there.

[2018-03-23 17:04] nsthorat commented on #884
Thanks everyone. We'll get to these soon, I promise :)

[2018-03-23 17:04] Fdom92 commented on #886
Sure @tafsiri, this is the link https://github.com/Fdom92/stencil-cnnp

Hope this can be helpful.

[2018-03-23 19:38] tafsiri commented on #886
Thanks @Fdom92, we suspect that the issue _may be_ that your build system (it looks like rollup is being used under the hood) may expect es6 style exports, however our deeplearn distribution is already transpiled down to es5.

Does that sound like it might be the issue? Have you used other projects via node_modules with stencil starter project?

[2018-03-23 19:38] nsthorat commented on #885
Once you've imported the model the name that's used in get_tensor_by_name from TensorFlow should be the same name you use from the response of the CheckpointLoader call.

[2018-03-23 21:44] adarob opened #888 "Inconsistencies with TensorFlow when passing a single tensor to concat and stack."
In TF these are handled silently (returning the input tensor), while in DL.js I get:
Uncaught (in promise) Error: Pass at least two tensors to concat

[2018-03-24 05:41] cyilu commented on #879
Thank you so much！！ It is right！！  But why my computing time is  a little  long, but the "mnist eager" demo run fastly. And the browser is slow.

[2018-03-24 13:16] cyilu opened #891 "How to use function "XhrDataset" and dl.util?"
I need the complete usage about "XhrDataset". And how to use what "XhrDataset" returns.

And how to use dl.util. If somewhere has the complete information, could you get me a link?

Any information about this is much appreciated!

[2018-03-24 14:54] Fdom92 commented on #886
Yes, it seems to be the issue cause for example:

const a = dl.tensor1d([1, 2, 3]); -> const a = dl.Tensor1D.new([1, 2, 3]);

This change is needed in order to get this working, so maybe the stencil build process

[2018-03-24 15:51] Fdom92 commented on #886
Hi @tafsiri got it working, not the best way but works, i updated the repo if you want to check out how.

Thanks for the help and good tool :)

[2018-03-24 18:00] nsthorat opened #892 "Implement the gradient for depthwiseConv2d."
Currently we don't have the gradient written. It should be strictly easier than conv2d, so should be easy.

This is important for training in browsers where compute is limited.

[2018-03-24 20:24] nbardy opened #894 "Implement tensor.round"
`dl.floor` and `dl.ceil` are implemented `round` is missing.

[2018-03-24 23:01] #862 closed

[2018-03-25 20:35] nsthorat opened #897 "dl.keep() does not work for nested tidy()s."
Specifically this does not work if you are trying to keep a Tensor allocated in a parent tidy().

[code]

[2018-03-26 01:41] oveddan opened #898 "Feature request: `mod` function"
To be able to do modulo operations between two tensors, equivalent to TF's [floormod/mod](https://www.tensorflow.org/versions/r1.2/api_docs/python/tf/floormod)

[2018-03-26 01:42] oveddan commented on #898
duplicate of #884

[2018-03-26 01:42] #898 closed

[2018-03-26 20:48] EFHIII opened #901 "Complementary Colors tutorial is confusing without the source code for reference"
With the Complementary Colors demo deleted, it's very confusing for someone unfamiliar with DL to figure out how everything works, and where to find an implemented example of the Complementary Colors tutorial.

[2018-03-27 06:41] cyilu opened #902 "Why parseGrayscaleImageData and parseRGBImageData of xhrdataset have the same function?"
I think these two function are alike:
`
  function parseGrayscaleImageData(
    data: Uint8Array|Uint8ClampedArray, result: Uint8Array,
    resultOffset: number): void {
  let idx = resultOffset;
  for (let i = 0; i < data.length; i += 4) {
    result[idx++] = data[i];
  }
}

function parseRGBImageData(
    data: Uint8Array|Uint8ClampedArray, result: Uint8Array,
    resultOffset: number): void {

[2018-03-27 14:10] nsthorat commented on #902
The functions are slightly different, one is parsing a grayscale image (just parsing red channel), and the other is parsing the fully packed RGB byte array. Notice the inner for loop is different.

[2018-03-28 01:17] jgartman opened #903 "Add support for additional random tensors"
Deeplearn.js currently supports tensors of random samples drawn from normal, truncated normal or uniform distributions and it looks like multinomial sampling is being added back to the api soon.  Tensorflow’s random_ops supports all of these as well as the [poisson](https://www.tensorflow.org/api_docs/python/tf/random_gamma), and [gamma](https://www.tensorflow.org/api_docs/python/tf/random_poisson

[2018-03-28 06:13] cyilu commented on #902
@nsthorat But the "data" is 1d array. Therefore, "data" to "result" is 1d array to 1d array. Isn't it？

[2018-03-28 09:10] kimamula opened #904 "License comment is missing in the main JS file (dist/index.js)"
Including license comment into the main JS file would make it easier for deeplearn.js users to include it into their own build.

[2018-03-28 10:07] QuantumInformation commented on #385
Good work guys

[2018-03-28 15:29] nsthorat commented on #902
ImageData is always a flat array, you can check out the docs here: https://developer.mozilla.org/en-US/docs/Web/API/ImageData

[2018-03-28 15:51] kriptontr opened #906 "Starter Project links broken"
Starter project links at homepage   are broken
https://deeplearnjs.org/index.html#demos
https://github.com/PAIR-code/deeplearnjs/tree/master/starter/es6/
https://github.com/PAIR-code/deeplearnjs/tree/master/starter/typescript/

[2018-03-28 17:18] jaxball opened #907 "MobileNet does not return activations as commented"
`models/squeezenet` has a `predictWithActivation` function that returns both named activation and pre-softmax logits. `models/mobilenet` only has a `predict` function which returns a 1D tensor, but its function comment appears identical to that for SqueezeNet, stating that

Infer through MobileNet, assumes variables have been loaded. This does standard ImageNet pre-processing before inferring thro

[2018-03-28 22:10] nsthorat commented on #906
Apologies, we're in the middle of moving some code to other repositories. We'll send an update on Friday with where all the code now lives!

[2018-03-29 02:32] cyilu commented on #902
@nsthorat Yes, ohhh， now I think the size of the "result" is N*(shape[0]*shape[1])， so the size of the "result" is not equal to the “data” .

[2018-03-29 03:38] cyilu opened #908 "web cannot access local file."
As the security of web, it can't access local file. Therefore, it's difficult to train in the js.

Any help will be appreciate！

[2018-03-29 12:58] tafsiri commented on #908
You may need to set up a local server to serve your files. Take a look at https://developer.mozilla.org/en-US/docs/Learn/Common_questions/set_up_a_local_testing_server

[2018-03-30 03:03] cyilu commented on #908
@tafsiri Yes, thank you! But it means that I can use local file in the browser?

[2018-03-30 14:12] tafsiri commented on #908
Yes

[2018-03-30 14:20] #857 closed

[2018-03-30 14:22] tafsiri commented on #886
Sweet! Glad to see you got it working!

[2018-03-30 14:22] #886 closed

[2018-03-30 17:54] physicsrob opened #911 "demos broken on master"
Demos are broken on master after moving some of the files out of the repo.  Also the 'yarn prep' command is gone, which means users need to run yarn from the root directory and the demos directory, which I don't think is particularly obvious.

I'm sure this is part of the big shuffle and will be resolved shortly.

One question:  Is there any sort of slack/irc channel for this project?  It'd be nic

[2018-03-30 18:13] tafsiri commented on #911
@physicsrob. Yep we are moving demos to a new repo with the launch of https://js.tensorflow.org/  See https://github.com/tensorflow/tfjs-examples for the demos we plan on maintaining. We will be removing a fair amount of the older demos.

We also started a community mailing list for discussion. https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs

[2018-03-30 18:21] tafsiri commented on #906
Hi @kriptontr We are moving demos/starter projects to a new repo with the launch of https://js.tensorflow.org/ See https://github.com/tensorflow/tfjs-examples for the things start off from. With this we are removing starter projects from the main repository.

We are keeping up the old site for a while to make the transition easier but it is essentially deprecated.

[2018-03-30 18:24] #863 closed

[2018-03-30 18:27] tafsiri commented on #855
Hi @physicsrob, I also want to point you to the newly released Keras model importer/converter. Here is a tutorial we wrote up with the new API https://js.tensorflow.org/tutorials/import-keras.html, not sure how this impacts plans for your tool, but you can take a look and see what you think.

[2018-03-30 18:31] physicsrob commented on #855
I saw that this morning.  Fantastic -- I'm thrilled that converting keras models is a first class citizen!  I plan on killing my tool.  No need to maintain something separate as far as I can see.  I'd rather contribute to the official repo if there's anything inadequate in the official tool (which seems unlikely).

[2018-03-30 18:32] tafsiri commented on #651
No longer needed, as we now have tfjs-examples

[2018-03-30 18:32] #651 closed

[2018-03-30 18:33] tafsiri commented on #756
Closing for now as we have completely new tutorials and old ones are deprecated.

[2018-03-30 18:33] #756 closed

[2018-03-30 18:33] #112 closed

[2018-03-30 18:34] #855 closed

[2018-03-30 18:40] physicsrob commented on #911
So is the plan then to remove the existing demos in this repo?  If so, I want to strongly encourage that the benchmark tool isn't removed (or is migrated to the other repo).  It's a very effective way of learning the performance characteristics of tfjs, which I consider to be a highly useful step for anyone who plans on using tfjs in a production environment.

[2018-03-30 18:44] tafsiri commented on #676
@nadiia-pyvovar just want to update this as we have released some model porting tools (supports TensorFlow SavedModel and Keras models). Some relevant tutorials for this are available here https://js.tensorflow.org/tutorials/

Please give it a try and let us know how it goes!

[2018-03-30 18:44] #676 closed

[2018-03-30 18:52] tafsiri commented on #911
Yes we will generally be removing demos from this repo, possibly porting some to @tensoflow/tfjs-examples (we want to centralize demos/examples there as much as we can). Some of the demos use now deprecated APIs so they might come back in future, but we'll look at this case by case.

Definitely hear you on the benchmarks keeping benchmarks available. We also have another benchmark here https://git

[2018-03-30 20:05] QuantumInformation commented on #911
@tafsiri We also have a discord server where people can get real-time info and interaction on tfjs.

https://discord.gg/64MVzQX

[2018-03-31 00:02] jafaircl commented on #89
Any update on this with the new API? It'd be great to be able to train and save a model to pull in later for inferences or more training.

[2018-03-31 16:36] QuantumInformation commented on #901
You should be able to port it by using tf instead of dl.

[2018-03-31 17:37] nsthorat commented on #901
It would be cool if somebody would port this demo to an Observable notebook using the layers API!

[2018-03-31 23:09] nsthorat commented on #89
Here is the issue that will be tracking it. The team is taking a break for a day or two given our mad rush to the launch, but we'll be looking at this really soon!

https://github.com/tensorflow/tfjs/issues/13

[2018-04-01 02:09] nsthorat commented on #17
Hi, just looping back on this since we've announced TensorFlow.js and automatic model porting tools. Check out the tutorials here: http://js.tensorflow.org/tutorials

For TensorFlow SavedModels, use this repo: https://github.com/tensorflow/tfjs-converter

[2018-04-01 04:11] dsmilkov commented on #89
Closing per previous comment that this will be tracked as tensorflow/tfjs#13.

[2018-04-01 04:11] #89 closed

[2018-04-01 04:19] dsmilkov commented on #901
Also checkout our new examples in [tensorflow/tfjs-examples](https://github.com/tensorflow/tfjs-examples). We don't have the complementary color prediction but we believe the examples we have cover a wide variety and show the possibilities of the library.

[2018-04-01 04:19] #901 closed

[2018-04-01 04:26] dsmilkov commented on #855
We would love your contributions, Rob!

[2018-04-02 02:36] ithjz opened #917 "I can't download this file"
https://code.getmdl.io/1.3.0/material.orange-deep_purple.min.css

[2018-04-02 03:08] dsmilkov commented on #917
Hi, can you give more details about your setup, browser, code etc?

[2018-04-02 03:19] dsmilkov commented on #320
Closing this since we are going to use [Observable Notebooks](https://beta.observablehq.com/) for notebook-like examples/tutorials.

[2018-04-02 03:19] #320 closed

[2018-04-02 03:30] dsmilkov commented on #237
I think between [Selected Stories](https://cvalenzuela.github.io/Selected_Stories/), and the [Translate demo](https://github.com/tensorflow/tfjs-examples/tree/master/translation) we just added to [tfjs-examples](https://github.com/tensorflow/tfjs-examples), we have a good starting point for a text-based model, so I'll be closing this thread.

Reopen if you have a specific idea for a text-based mod

[2018-04-02 03:30] #237 closed

[2018-04-02 03:33] dsmilkov commented on #49
With deeplearn.js becoming TensorFlow.js, we are super excited to share that [we are actively working](https://js.tensorflow.org/faq/) on node.js bindings that will use the TensorFlow C API. Stay tuned!

[2018-04-02 03:35] dsmilkov commented on #111
Closing since it's been a while. Feel free to re-open with a new discussion that's relevant to the latest state of the project.

[2018-04-02 03:35] #111 closed

[2018-04-02 03:37] dsmilkov commented on #116
Thanks everyone for a great discussion. Closing since this is a bit outdated. Feel free to reopen with a discussion that reflects the latest state of the library.

[2018-04-02 03:37] #116 closed

[2018-04-02 03:38] dsmilkov commented on #238
Thanks everyone for a great discussion. Closing since we already have MobileNet ported. See [this example](https://github.com/tensorflow/tfjs-examples/tree/master/mobilenet) on the tfjs-examples repo.

[2018-04-02 03:38] #238 closed

[2018-04-02 03:39] dsmilkov commented on #357
Hey @nkreeger is this still relevant?

[2018-04-02 03:40] dsmilkov commented on #384
Closing since this is obsolete with the launch of js.tensorflow.org

[2018-04-02 03:40] #384 closed

[2018-04-02 20:00] dsmilkov commented on #911
This issue was moved to tensorflow/tfjs#62

[2018-04-02 20:00] #911 closed

[2018-04-02 20:00] dsmilkov commented on #908
This issue was moved to tensorflow/tfjs#63

[2018-04-02 20:00] dsmilkov commented on #907
This issue was moved to tensorflow/tfjs#64

[2018-04-02 20:00] #907 closed

[2018-04-02 20:00] #906 closed

[2018-04-02 20:01] dsmilkov commented on #904
This issue was moved to tensorflow/tfjs#66

[2018-04-02 20:01] #904 closed

[2018-04-02 20:01] dsmilkov commented on #903
This issue was moved to tensorflow/tfjs#67

[2018-04-02 20:01] #903 closed

[2018-04-02 20:01] dsmilkov commented on #902
This issue was moved to tensorflow/tfjs#68

[2018-04-02 20:01] #902 closed

[2018-04-02 20:01] dsmilkov commented on #897
This issue was moved to tensorflow/tfjs#69

[2018-04-02 20:01] #897 closed

[2018-04-02 20:01] dsmilkov commented on #894
This issue was moved to tensorflow/tfjs#70

[2018-04-02 20:01] #894 closed

[2018-04-02 20:01] dsmilkov commented on #892
This issue was moved to tensorflow/tfjs#71

[2018-04-02 20:01] #892 closed

[2018-04-02 20:01] dsmilkov commented on #891
This issue was moved to tensorflow/tfjs#72

[2018-04-02 20:01] #891 closed

[2018-04-02 20:02] dsmilkov commented on #888
This issue was moved to tensorflow/tfjs#73

[2018-04-02 20:02] #888 closed

[2018-04-02 20:02] dsmilkov commented on #885
This issue was moved to tensorflow/tfjs#74

[2018-04-02 20:03] #49 closed

[2018-04-02 20:04] nsthorat commented on #49
This is the tracking bug for nodejs: https://github.com/tensorflow/tfjs/issues/36

[2018-04-02 20:08] #878 closed

[2018-04-02 20:13] nsthorat commented on #20
TensorFlow.js has launched (https://js.tensorflow.org) and we will be working on data APIs in the coming months. Please re-open another issue in our new repo if you want to continue this discussion: https://github.com/tensorflow/tfjs

[2018-04-02 20:13] #20 closed

[2018-04-02 20:13] nsthorat commented on #33
We're going to stop work on the current model builder. We will be building another one that uses the layers API and is built a little better in the coming months, so stay tuned.

[2018-04-02 20:13] #33 closed

[2018-04-02 20:14] nsthorat commented on #35
I still think this is an incredible idea - feel free to start a conversation in our TensorFlow.js community mailing list if you want to continue this discussion: https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs

[2018-04-02 20:14] #35 closed

[2018-04-02 20:15] #98 closed

[2018-04-02 20:15] nsthorat commented on #99
We're going to attack leaks in a different way with TensorFlow.js. Closing this out.

[2018-04-02 20:15] #99 closed

[2018-04-02 20:18] nsthorat commented on #117
Apologies for never getting to this - if you are still having trouble with this with TensorFlow.js please file another issue and I will be happy to take a look at it: https://github.com/tensorflow/tfjs/issues

[2018-04-02 20:18] #117 closed

[2018-04-02 20:19] nsthorat commented on #121
This issue was moved to tensorflow/tfjs#75

[2018-04-02 20:19] #121 closed

[2018-04-02 20:20] nsthorat commented on #131
We're going to think about this with TensorFlow.js. No official plans yet, but this is being discussed. Going to close this off as we'll start a larger discussion down the road.

[2018-04-02 20:20] #131 closed

[2018-04-02 20:30] bhack commented on #35
/cc @milhidaka

[2018-04-02 22:05] travisdesell commented on #35
@kaihuchen @bhack sorry I must have missed this in my inbox! I would be interested in seeing what parts of EXACT I could port over to this.  In particular I've been thinking about further separating out the implementation which evolves the structure of the networks and what actually does the training.

That being said, EXACT is implemented in C++ right now (so that I can use it on my volunteer com

[2018-04-02 22:40] nkreeger commented on #357
Should be resolved.

[2018-04-02 22:40] #357 closed

[2018-04-03 00:19] nsthorat commented on #158
This issue was moved to tensorflow/tfjs#76

[2018-04-03 00:19] #158 closed

[2018-04-03 00:21] nsthorat commented on #159
Closing this issue - if you still have an issue please file an issue in tfs: https://github.com/tensorflow/tfjs/issues

[2018-04-03 00:21] #159 closed

[2018-04-03 00:21] #220 closed

[2018-04-03 00:22] nsthorat commented on #233
This issue was moved to tensorflow/tfjs#77

[2018-04-03 00:22] #233 closed

[2018-04-03 00:52] nsthorat commented on #234
This issue was moved to tensorflow/tfjs#78

[2018-04-03 00:52] #234 closed

[2018-04-03 00:56] #240 closed

[2018-04-03 01:04] nsthorat commented on #239
This issue was moved to tensorflow/tfjs#79

[2018-04-03 01:04] #239 closed

[2018-04-03 01:05] #244 closed

[2018-04-03 01:05] #241 closed

[2018-04-03 01:06] nsthorat commented on #246
This issue was moved to tensorflow/tfjs#80

[2018-04-03 01:06] #246 closed

[2018-04-03 01:06] nsthorat commented on #313
Dropout is now added in TensorFlow.js layers.

[2018-04-03 01:06] #313 closed

[2018-04-03 01:07] #310 closed

[2018-04-03 15:25] tafsiri commented on #750
I'm going to close this as we now have tensorflow/tfjs-examples with all javascript examples, we also have javascript code snippets in the docs and new tutorials that use JavaScript. Hope this helps!

[2018-04-03 15:25] #750 closed

[2018-04-03 15:26] tafsiri commented on #742
Closing this as we have a new site. We can re-open/make a new issue if needed.

[2018-04-03 15:26] #742 closed

[2018-04-03 16:25] kimamula commented on #864
Current implementation of `loadFrozenModel` provided by @tensorflow/tfjs-converter, which is an extended successor of `CheckpointLoader`, seems also works only under browser environment, i.e. it cannot restore a model from a local file.

As [you are working on creating Node.js bindings](https://js.tensorflow.org/faq/), I think it would be worth providing Node.js version of `loadFrozenModel`.

[2018-04-03 16:33] kimamula commented on #864
Well, when the Node.js binding is provided, it is probably possible to restore a TensorFlow SavedModel directory under Node.js environment?

Then the Node.js version of `loadFrozenModel` is absolutely not necessary.

[2018-04-03 17:17] kimamula opened #919 "Reshape operation is removed during conversion with tensorflowjs_converter"
#### TensorFlow.js Converter version

0.1.0

#### Browser version

Chrome 65.0.3325.181 (64bit)

#### Describe the problem or feature request

When I execute a model (i.e., `FrozenModel#execute()`) which is converted by `tensorflowjs_converter` and loaded with `loadFrozenModel()`, it fails with an error `Error in matMul: inputs must be rank 2, got ranks 1 and 2.`

I compared the `.pb` files before

[2018-04-03 18:07] carlthome commented on #845
Yes, this would be handy! Particularly if `tf.toPixels` could handle RGB, RGBA and grayscale images like [`tf.summary.image`](https://www.tensorflow.org/api_docs/python/tf/summary/image).

This mess is what I'm using, and I'd gladly replace it:
[code]

[2018-04-03 19:48] nsthorat commented on #919
This issue was moved to tensorflow/tfjs#85

[2018-04-03 19:48] #919 closed

[2018-04-03 22:33] #808 closed

[2018-04-04 08:49] kriptontr commented on #906
great news. thank you .

[2018-04-04 14:25] nsthorat commented on #348
This would be a cool demo! Maybe we can move demo ideas to our community discussion, meanwhile I will close this bug: https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs

[2018-04-04 14:25] #348 closed

[2018-04-04 14:25] nsthorat commented on #374
Closing this, we will be rebuilding the model builder at some point soon.

[2018-04-04 14:25] #374 closed

[2018-04-04 14:33] #379 closed

[2018-04-04 14:33] #380 closed

[2018-04-04 14:34] nsthorat commented on #382
This issue was moved to tensorflow/tfjs#93

[2018-04-04 14:34] #382 closed

[2018-04-04 14:35] nsthorat commented on #388
We have a couple examples in https://github.com/tensorflow/tfjs-examples that do text classification now.

[2018-04-04 14:35] #388 closed

[2018-04-04 14:35] nsthorat commented on #393
We now have a higher-level Keras-compatible layers API as part of TensorFlow.js! https://github.com/tensorflow/tfjs

[2018-04-04 14:35] #393 closed

[2018-04-04 14:36] nsthorat commented on #397
Would love to see this - maybe this discussion could be moved to our community mailing list: https://groups.google.com/a/tensorflow.org/forum/#!forum/tfjs

[2018-04-04 14:36] #397 closed

[2018-04-04 14:36] #408 closed

[2018-04-04 14:36] nsthorat commented on #414
Now we can train LSTMs with the new layers API: https://github.com/tensorflow/tfjs

[2018-04-04 14:36] #414 closed

[2018-04-04 14:37] #424 closed

[2018-04-04 14:37] #429 closed

[2018-04-04 14:38] nsthorat commented on #438
We're working on official Node.js bindings to the TF C API: https://github.com/tensorflow/tfjs/issues/36

[2018-04-04 14:38] #438 closed

[2018-04-04 14:39] nsthorat commented on #441
We have [tf.oneHot](https://js.tensorflow.org/api/0.6.1/#oneHot) and [embeddings](https://js.tensorflow.org/api/0.6.1/#layers.embedding) in the higher-level layers API now:

[2018-04-04 14:39] #441 closed

[2018-04-04 14:39] nsthorat commented on #469
Closing this out since we've updated the demo.

[2018-04-04 14:39] #469 closed

[2018-04-04 14:40] nsthorat commented on #475
Closing this out since we have the new eager API.

[2018-04-04 14:40] #475 closed

[2018-04-04 14:40] #481 closed

[2018-04-04 14:40] nsthorat commented on #488
This issue was moved to tensorflow/tfjs#94

[2018-04-04 14:40] #488 closed

[2018-04-04 14:41] #490 closed

[2018-04-04 14:42] nsthorat commented on #493
This issue was moved to tensorflow/tfjs#95

[2018-04-04 14:42] #493 closed

[2018-04-04 15:29] codeKonami commented on #846
I'm trying to write a xOR solving neural network with tfjs. I've got something working-ish but it's taking a lot of time to train. It needs about 10000 epochs to reach a 0.01 loss.
Could someone have a quick look to help me out?

Thanks

https://jsbin.com/waqipeh/edit?html,console

I'm copy pasting the code below too:

[code]

[2018-04-05 01:14] easadler commented on #561
Seems like this may be a little out of date, but I'd like to help if you still would like help. I think `oneHot` is still available.

[2018-04-05 14:53] easadler commented on #561
I am willing and potentially able. I will give it a shot!

[2018-04-05 17:51] nsthorat commented on #845
This issue was moved to tensorflow/tfjs#103

[2018-04-05 17:51] #845 closed

[2018-04-05 17:52] #496 closed

[2018-04-05 17:52] nsthorat commented on #494
This issue was moved to tensorflow/tfjs#104

[2018-04-05 17:52] #494 closed

[2018-04-05 17:59] nsthorat commented on #498
We now support `.print()` and `.toString()` on `Tensor`s.

[2018-04-05 17:59] #498 closed

[2018-04-05 17:59] #502 closed

[2018-04-05 17:59] #503 closed

[2018-04-05 17:59] #507 closed

[2018-04-05 17:59] nsthorat commented on #508
This issue was moved to tensorflow/tfjs#106

[2018-04-05 17:59] #508 closed

[2018-04-05 18:00] nsthorat commented on #524
NDArray is gone, and make is also not the public API for making tensors now.

[2018-04-05 18:00] #524 closed

[2018-04-05 18:00] #527 closed

[2018-04-05 18:00] #528 closed

[2018-04-05 18:01] nsthorat commented on #529
We're now TensorFlow.js. We have a MobileNet example here: https://github.com/tensorflow/tfjs-examples/tree/master/mobilenet

[2018-04-05 18:01] #529 closed

[2018-04-05 18:27] nsthorat commented on #540
This issue was moved to tensorflow/tfjs#107

[2018-04-05 18:27] #540 closed

[2018-04-05 18:27] #543 closed

[2018-04-05 18:28] nsthorat commented on #550
We now have `tf.oneHot` which you can use for this in eager mode.

[2018-04-05 18:28] #550 closed

[2018-04-05 18:28] #552 closed

[2018-04-05 18:28] #553 closed

[2018-04-05 18:29] nsthorat commented on #556
Closing this out, feel free to reopen it at https://github.com/tensorflow/tfjs if you are still having issues.

[2018-04-05 18:29] #556 closed

[2018-04-05 18:29] nsthorat commented on #561
This issue was moved to tensorflow/tfjs#108

[2018-04-05 18:29] #561 closed

[2018-04-05 18:30] nsthorat commented on #562
This issue was moved to tensorflow/tfjs#109

[2018-04-05 19:51] nsthorat commented on #574
Eager is launched!

[2018-04-05 19:51] #574 closed

[2018-04-05 19:51] nsthorat commented on #576
This issue was moved to tensorflow/tfjs#111

[2018-04-05 19:54] nsthorat commented on #605
Hi @acostin1 - apologies for the delays :)

We're going to make a much more powerful model-builder in the coming months (which can take advantage of the webcam).

[2018-04-05 19:54] #605 closed

[2018-04-05 19:54] nsthorat commented on #610
This issue was moved to tensorflow/tfjs#112

[2018-04-05 19:54] #610 closed

[2018-04-05 19:55] nsthorat commented on #616
This issue was moved to tensorflow/tfjs#113

[2018-04-05 19:55] #616 closed

[2018-04-05 20:09] nsthorat commented on #619
This issue was moved to tensorflow/tfjs#114

[2018-04-05 20:09] #619 closed

[2018-04-05 20:09] nsthorat commented on #620
Now that we have automatic model porting tools with https://js.tensorflow.org/ this might be a little easier. Let us know if you run into any issues there.

[2018-04-05 20:09] #620 closed

[2018-04-05 20:10] nsthorat commented on #623
fromPixels takes numChannels now: https://js.tensorflow.org/api/0.6.1/#fromPixels

[2018-04-05 20:10] #623 closed

[2018-04-05 20:10] nsthorat commented on #634
This issue was moved to tensorflow/tfjs#115

[2018-04-05 20:10] #634 closed

[2018-04-05 20:11] nsthorat commented on #636
This issue was moved to tensorflow/tfjs#116

[2018-04-05 20:11] #636 closed

[2018-04-05 20:12] nsthorat commented on #637
Woohoo! We launched something that should help with this.

Checkout https://github.com/tensorflow/tfjs-converter

[2018-04-05 20:12] #637 closed

[2018-04-05 20:12] nsthorat commented on #659
This issue was moved to tensorflow/tfjs#117

[2018-04-05 20:12] #659 closed

[2018-04-05 20:15] carlthome commented on #637
Very cool!

[2018-04-05 20:15] nsthorat commented on #674
https://github.com/tensorflow/tfjs-converter for more on automatic model conversion with TensorFlow.js

[2018-04-05 20:15] #674 closed

[2018-04-05 20:16] nsthorat commented on #677
Check out https://github.com/tensorflow/tfjs-examples/tree/master/addition-rnn for an example of how to train different types of RNN models with TensorFlow.js

[2018-04-05 20:16] #677 closed

[2018-04-05 20:16] nsthorat commented on #680
Let's stay true to TF here and not implement this for us.

[2018-04-05 20:16] #680 closed

[2018-04-05 22:21] samwyi opened #925 "Why mobileNet.predict() hit a performance cliff after certain amount of runs?"
#### TensorFlow.js version: 0.6.0

#### TensorFlow.js Core version: 0.6.0

#### Browser version: Chrome 65.0.3325.181 (Official Build) (64-bit)

#### Describe the problem or feature request
mobileNet.predict() hit a performance cliff after certain amount of runs.
On my MacBook Pro, the average of 100 runs is ~11ms, while the average of 200 runs drops to ~46ms. Similar issue happened on my Android

[2018-04-06 18:02] nsthorat commented on #925
Try `await tf.nextFrame()` between each tick (you may have to wrap your code in a function marked as async).

[code]

[2018-04-06 18:26] nsthorat commented on #729
This issue was moved to tensorflow/tfjs#126

[2018-04-06 18:26] #729 closed

[2018-04-06 18:31] nsthorat commented on #734
This issue was moved to tensorflow/tfjs#127

[2018-04-06 18:31] #734 closed

[2018-04-07 14:36] #751 closed

[2018-04-07 14:36] nsthorat commented on #768
This issue was moved to tensorflow/tfjs#130

[2018-04-07 14:36] #768 closed

[2018-04-07 14:46] nsthorat commented on #770
This issue was moved to tensorflow/tfjs#131

[2018-04-07 14:46] #770 closed

[2018-04-07 14:46] nsthorat commented on #773
This issue was moved to tensorflow/tfjs#132

[2018-04-07 14:46] #773 closed

[2018-04-07 14:46] nsthorat commented on #783
This issue was moved to tensorflow/tfjs#133

[2018-04-07 14:46] #783 closed

[2018-04-07 14:47] nsthorat commented on #797
We decided against an official site, however we have the mailing list: groups.google.com/a/tensorflow.org/forum/#!forum/tfjs

[2018-04-07 14:47] #797 closed

[2018-04-07 14:47] nsthorat commented on #801
This issue was moved to tensorflow/tfjs#134

[2018-04-07 14:47] #801 closed

[2018-04-07 14:47] nsthorat commented on #813
This issue was moved to tensorflow/tfjs#135

[2018-04-07 14:47] #813 closed

[2018-04-07 14:48] #833 closed

[2018-04-07 14:48] #834 closed

[2018-04-07 14:50] nsthorat commented on #837
Obviously we just released the big overhaul. The API will be relatively stable, with us adding support for more ops / layers / serialization stories. Most likely the skeleton wont change.

Hope this helps (closing this issue since we're trying to move all issues to tensorflow/tfjs - feel free to reopen over there).

[2018-04-07 14:50] #837 closed

[2018-04-07 14:50] #840 closed

[2018-04-07 14:56] nsthorat commented on #841
KNN Image classifier needs squeezenet to compute an activation :) Closing this out.

[2018-04-07 14:56] #841 closed

[2018-04-07 14:57] nsthorat commented on #847
This issue was moved to tensorflow/tfjs#136

[2018-04-07 14:57] #847 closed

[2018-04-07 14:57] nsthorat commented on #848
This issue was moved to tensorflow/tfjs#137

[2018-04-07 14:57] #848 closed

[2018-04-07 14:58] nsthorat commented on #850
Closing this out - let's move this to Observable or something of that sort. We want to keep the set of examples relatively small.

[2018-04-07 14:58] #850 closed

[2018-04-07 14:58] nsthorat commented on #851
This issue was moved to tensorflow/tfjs#138

[2018-04-07 14:58] #851 closed

[2018-04-07 14:58] nsthorat commented on #854
This issue was moved to tensorflow/tfjs#139

[2018-04-07 14:58] #854 closed

[2018-04-07 14:59] nsthorat commented on #864
We will absolutely provide a way to do this in the Node.js world by loading a SavedModel directly, loadFrozenModel only supports browsers, you are right. We're working on it :)

[2018-04-07 14:59] nsthorat commented on #864
This issue was moved to tensorflow/tfjs#140

[2018-04-07 15:01] nsthorat commented on #865
Hi @riatzukiza, moving this issue, but is your "render" call coming from inside a tidy()? What's likely happening is the tensor is disposed by the time the data() promise resolves.

[2018-04-07 15:01] nsthorat commented on #865
This issue was moved to tensorflow/tfjs#141

[2018-04-07 15:01] #865 closed

[2018-04-07 15:01] nsthorat commented on #867
This issue was moved to tensorflow/tfjs#142

[2018-04-07 15:01] #867 closed

[2018-04-07 15:01] #869 closed

[2018-04-07 15:01] nsthorat commented on #871
This issue was moved to tensorflow/tfjs#143

[2018-04-07 15:01] #871 closed

[2018-04-07 15:01] nsthorat commented on #872
This issue was moved to tensorflow/tfjs#144

[2018-04-07 15:01] #872 closed

[2018-04-07 15:02] #879 closed

[2018-04-07 15:02] nsthorat commented on #925
This issue was moved to tensorflow/tfjs#145

[2018-04-07 15:02] #925 closed

[2018-04-07 15:07] #884 closed